@import "root";
@import "associationHeader";

.title {
    padding: 3.625rem 0 2.375rem;
    border-bottom: 1px solid #bdbdbd;

    h2 {
        text-align: center;
        font-weight: 400;
        font-size: 3.5625rem;
        line-height: 1.23;
    }
}

.documentsPage {
    &__buttons {
        display: flex;
        justify-content: space-between;
        width: 20.9375rem;
        margin: 2.25rem auto 0;
    }

    &__button {
        border-radius: 6px;
        padding: 0.75rem;
        border: 1px solid #e0e0e0;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1.44;
        color: $midGray;
        width: 10rem;
        transition: all 0.3s ease-in;

        &:hover {
            color: #fff;
            background-color: $firstGreen;
            border-color: $firstGreen;
        }
    }

    &__content {
        margin-top: 2.25rem;
        margin-bottom: 5.9375rem;
        display: flex;
        flex-wrap: wrap;
    }
}

.document {
    width: calc((100% - 2.5rem) / 3);
    height: 18.75rem;
    background: $lightGray;
    border-radius: 12px;
    padding: 1.875rem 2.5rem;
    margin-bottom: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__date {
        display: block;
        font-size: 1.125rem;
        line-height: 1.67;
        color: $midGray;
    }
    &__text {
        display: block;
        margin-top: 0.75rem;
        font-size: 1.125rem;
        line-height: 1.67;
        color: $darkGray;
    }
    &__show {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        font-size: 1rem;
        line-height: 1.44;
        color: $firstGreen;
    }
    &__info {
        display: flex;
        align-items: center;
    }

    &__pdf {
        width: 1.75rem;
        height: 2.25rem;
    }

    &__size {
        font-size: 0.75rem;
        line-height: 1.67;
        color: #a2a2a2;
        margin-left: 0.5rem;
    }

    &__download {
        width: 1.875rem;
        height: 1.875rem;
        border-radius: 50%;
        margin-left: 0.75rem;
        border: 1px solid $firstGreen;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in;

        &:hover {
            background-color: $firstGreen;

            svg {
                path {
                    fill: #fff;
                }
                line {
                    stroke: #fff;
                }
            }
        }
    }

    &:nth-child(3n + 2) {
        margin: 0 1.25rem 1.25rem;
    }
}

@media (max-width: 768px) {
    .title {
        padding: 1.375rem 0 1.625rem;

        h2 {
            font-size: 2rem;
            line-height: 1.37;
        }
    }
    .documentsPage {
        &__buttons {
            margin-top: 1.25rem;
            width: 100%;
        }
        &__button {
            width: calc((100% - 1.25rem) / 2);
        }
        &__content {
            display: block;
            margin-top: 2.5rem;
            margin-bottom: 6.25rem;
        }
        .document {
            width: 100%;
            height: auto;
            padding: 1.25rem;

            &:nth-child(3n + 2) {
                margin: 0 0 1.25rem;
            }

            &__text {
                font-size: 1rem;
                line-height: 1.5;
            }
            &__show {
                margin-top: 1.5rem;
            }
        }
    }
}
