@import "root";

.intro {
    margin-top: 4.3125rem;

    &__info {
        position: relative;
        display: flex;
        justify-content: center;
    }

    &__title {
        font-weight: 500;
        font-size: 3.5625rem;
        line-height: 1.23;
        color: $darkGray;
    }
}

.association {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1.5625rem;
    border-bottom: 1px solid #bdbdbd;
    margin-top: 3.125rem;

    &__button {
        height: 3.4375rem;
        border-radius: 5px;
        border: 1px solid #bdbdbd;
        padding: 0.5625rem 2rem;
        margin-right: 0.9375rem;
        font-family: $golosFont;
        font-size: 1rem;
        line-height: 1.44;
        color: $midGray;
        transition: all 0.3s ease-in;
        margin-bottom: 0.9375rem;

        &:hover {
            background-color: $firstGreen;
            color: #fff;
            border-color: $firstGreen;
        }
    }
}
