@import "main";
@import "associationHeader";

.title {
    padding: 1.875rem 0;
    border-bottom: 1px solid #bdbdbd;

    h2 {
        font-weight: 400;
        text-align: center;
    }
}

.partners {
    &__title {
        margin-top: 3.125rem;
    }
}

.partners__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.6875rem;
    margin-bottom: 10.3125rem;
}

.partner {
    &:nth-child(3n + 2) {
        margin: 0 1.25rem 1.25rem;
    }

    position: relative;
    width: calc((100% - 40px) / 3);
    height: 18.75rem;
    background-color: $lightGray;
    border-radius: 12px;
    margin-bottom: 1.25rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.625rem 2.4375rem 1.75rem;

    &__details {
        margin-top: 1.25rem;
        font-family: Inter;
        font-size: 1rem;
        line-height: 1.44;
        letter-spacing: -0.015em;
        color: $firstGreen;
    }

    &__text {
        max-width: 19.0625rem;
        font-family: Inter;
        font-size: 1rem;
        line-height: 1.44;
        letter-spacing: -0.015em;
        color: $darkGray;
        display: block;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__picture {
        max-width: 8.75rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__logo {
        mix-blend-mode: darken;
        object-fit: contain;
        width: auto;
    }

    &__ref {
        font-family: Inter;
        font-size: 1.125rem;
        line-height: 1.44;
        color: $firstGreen;
    }
}

@media (max-width: 768px) {
    .title {
        margin-top: 2.5rem;
        padding: 0;
        border: none;

        h2 {
            font-size: 1.5rem;
            line-height: 1.42;
        }
    }

    .partners__list {
        margin-top: 2.25rem;
        margin-bottom: 18.75rem;
        display: block;
    }

    .partner {
        width: 100%;
        margin-bottom: 1.25rem;

        &:nth-child(3n + 2) {
            margin: 0 0 1.25rem;
        }

        &__details {
            display: none;
        }
    }
}
