@import "main";
@import "associationHeader";

.title {
    padding: 3.625rem 0 2.375rem;
    border-bottom: 1px solid #bdbdbd;

    h2 {
        text-align: center;
        font-weight: 400;
        font-size: 3.5625rem;
        line-height: 1.23;
    }
}

.joining {
    margin-top: 4.0625rem;

    h2 {
        margin-top: 2.5rem;
    }

    &__image {
        object-fit: cover;
        height: 100%;
        border-radius: 12px;
    }

    h3 {
        margin-top: 2.5rem;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.47;
    }

    p {
        margin-top: 2.5rem;
        line-height: 1.67;
    }

    ul {
        list-style: none;
        margin-top: 3.25rem;
    }

    li {
        font-size: 1.125rem;
        line-height: 1.67;
        color: $darkGray;
        padding-left: 1.5rem;
        position: relative;

        &::before {
            content: "";
            width: 9px;
            height: 9px;
            background-color: $firstGreen;
            border-radius: 50%;
            position: absolute;
            top: 8px;
            left: 0;
        }

        & + & {
            margin-top: 0.75rem;
        }
    }

    &__buttons {
        margin-top: 5rem;
        display: flex;
        padding-bottom: 2.125rem;
        border-bottom: 1px solid $lightGray;
    }

    &__button {
        border-radius: 6px;
        padding: 0.75rem;
        border: 1px solid #e0e0e0;
        color: $midGray;
        width: 15.625rem;
        margin-right: 0.75rem;
        transition: all 0.3s ease-in;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1.44;

        &:hover {
            color: #fff;
            background-color: $firstGreen;
            border-color: $firstGreen;
        }
    }

    &__picture {
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 12px;
        }
    }

    &__share {
        background-color: $firstGreen;
        width: 3.125rem;
        height: 3.125rem;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 0;
        right: -4.375rem;
    }

    &__select {
        display: none;
    }
    
    &__sandwich {
        display: none;
    }
}

.document {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.9375rem 1.25rem;
    background: $lightGray;
    border-radius: 8px;
    margin-top: 1.8125rem;

    & + & {
        margin-top: 0.875rem;
    }

    &__info {
        display: flex;
        align-items: center;

        svg {
            margin-right: 1.25rem;
        }
    }

    &__title {
        font-family: $golosFont;
        font-size: 0.875rem;
        line-height: 1.14;
        max-width: 23.6875rem;
        color: $midGray;
    }
}

.contacs {
    display: flex;
    justify-content: space-between;
    margin: 1.875rem 0 5.8125rem;

    .email,
    .phone {
        width: calc((100% - 1.25rem) / 2);
        background: $lightGray;
        border-radius: 8px;
        padding: 2.5rem 2.5rem 4.25rem;

        &__icon {
            display: block;
        }
        &__title {
            display: block;
            margin-top: 1.25rem;
            font-family: Inter;
            font-size: 1.125rem;
            line-height: 1.44;
            text-decoration-line: underline;
            color: $firstGreen;
        }
        &__text {
            display: block;
            max-width: 12.75rem;
            margin-top: 15px;
            font-family: $golosFont;
            font-size: 1rem;
            line-height: 1.44;
            letter-spacing: -0.015em;
            color: $darkGray;
        }
    }
}

.ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__icon_more {
    background-image: url("../img/share_outline.svg") !important;
}

.ya-share2__container.ya-share2__container_color-scheme_blackwhite .ya-share2__badge {
    background-color: $firstGreen !important;
}
.ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__badge_more {
    background-color: $firstGreen !important;
}

@media (max-width: 768px) {
    .title {
        padding: 1.375rem 0 1.625rem;

        h2 {
            font-size: 2rem;
            line-height: 1.37;
        }
    }
    .joining {
        margin-top: 1.875rem;

        &__picture {
            img {
                height: 60vw;
            }
        }
        &__buttons {
            display: none;
        }
        &__share {
            position: relative;
            left: calc(100% - 3.125rem);
        }
        &__category {
            display: none;
        }
        &__sandwich {
            margin-top: 1rem;
            display: block;
            color: $darkGray;
            background: #efefef;
            border-radius: 4px;
            padding: 0.75rem 0.875rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;

            span {
                font-size: 1rem;
                line-height: 1.44;
                letter-spacing: 0.015em;
            }

            &::before,
            &::after {
                content: "";
                width: 10px;
                height: 2px;
                background: #8f9bb3;
                position: absolute;
                // top: calc(50% - 2.5px);
                right: 12px;
            }
            &::before {
                transform: rotate(45deg);
                right: 18px;
            }
            &::after {
                transform: rotate(-45deg);
            }
        }
    }
    .contacs {
        display: block;

        .email,
        .phone {
            width: 100%;
        }
    }
    .phone {
        margin-top: 1.875rem;
    }
}
