@import "root";
.header {
    &__container {
        margin-top: 2.1875rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__search,
    &__menu_mobile {
        height: 2.625rem;
        width: 2.625rem;
        background-color: $lightGray;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__menu_mobile {
        display: none;
    }

    &__button {
        height: 1.4375rem;
        border: none;
        font-family: Inter;
        font-size: 1rem;
        line-height: 1.44;
        letter-spacing: -0.015em;
        text-transform: uppercase;
        color: $darkGray;
        opacity: 0.2;
    }
}

.active {
    opacity: 1;
}

.navbar {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    padding: 1.1875rem 0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;

    &__item {
        position: relative;
        display: flex;
        justify-content: center;
        height: 1.25rem;
        width: 100%;
        font-family: Inter;
        font-size: 1rem;
        line-height: 1.44;
        text-align: center;
        color: $darkGray;

        &:after {
            content: "";
            background-image: url(../img/icons/border.svg);
            width: 1px;
            height: 20px;
            position: absolute;
            top: 0;
            right: 0;
        }

        &:last-child::after {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .header__container {
        margin-top: 2rem;
        width: 100%;
    }

    .header__logo {
        order: -1;

        img {
            width: 9.9375rem;
            height: 3.1875rem;
        }
    }

    .header__buttons {
        display: flex;
    }

    .header__language {
        display: none;
    }

    .header__menu_mobile {
        display: block;
        margin-left: 0.625rem;
        display: flex;
        align-items: center;
    }

    .navbar {
        display: none;
    }
}
