@import "media";
@import "mixins";
@import "root";
@import "header";
@import "footer";

@font-face {
    font-family: "Golos";
    src: url("../fonts/Golos-Text_Regular.woff2") format("woff2");
}

html {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $font; // FF MAIN
    cursor: default;
    background-color: $bgc;
    color: $gen;
    // @extend %scrollbar;
}

section {
    position: relative;
}

h1 {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 3.5rem;
    color: $darkGray;
}

h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 1.22;
    color: $darkGray;

    @media (max-width: 48rem) {
        font-weight: 500;
        font-size: 1.875rem;
        line-height: 1.4375rem;

        color: $extraGray;
    }
}

h3 {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.875rem;

    color: $darkGray;
}

h4 {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 2.5rem;
    letter-spacing: 0.02em;

    color: $darkGray;
}

p {
    font-family: Inter;
    font-size: 1.125rem;
    line-height: 1.44;

    color: $darkGray;
}

// ul {
//    list-style: none;
// }

.wrapper {
    margin: 0 auto;
    max-width: 83.75rem;
    position: relative;
    height: 100%;

    @media (max-width: 48rem) {
        width: 90%;
    }
}

a {
    font-family: Inter;
    color: $accent;
    display: inline-block;
    text-decoration: none;
}

svg {
    min-height: 1rem;
    // height: 1rem;
}

textarea,
button,
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: $font;
    border: none;
    background: none;
    outline: none;

    &[disabled] {
        cursor: default;
        opacity: 0.7;
    }
}

span {
    font-family: Inter;
}

blockquote {
    font-family: Inter;
    font-size: 1.125rem;
    line-height: 1.44;
    color: $firstGreen;
    position: relative;
    padding-left: 1.875rem;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 100%;
        background-color: $firstGreen;
        border-radius: 1px;
    }
}

button {
    cursor: pointer;
}

// убирает цвет автокомплита у инпута
input {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        font-size: 1rem;
        -webkit-box-shadow: 0 0 0px 1000px transparent inset;
        transition: background-color 5000s ease-in-out 0s;
    }
}

// Шаблон для модального окна
// .modal Обязательный класс для всех модальных окон, для попапов используем класс .popup который экстендит(@extend) класс modal или описываем свой.
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    @extend %flexbox;
    justify-content: center;
    //Вложенное окно с контентом, необходимо задать фиксированные размерыж
    &__box {
        padding: 2rem 3rem;
        box-sizing: border-box;
        position: relative;
        background-color: $bgc;
        overflow: auto;
        max-height: 100%;
        max-width: 100%;
    }
    // Кнопка закрытия
    &__close {
        @extend %close-btn;
    }
}
