@import 'index/meeting';
@import 'social';
@import 'post';
@import 'root';

.newsPage {
  margin-bottom: 6.25rem;
}

.intro {
  margin-top: 4.3125rem;

  &__info {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__title {
    font-weight: 400;
    font-size: 3.5625rem;
    line-height: 1.23;
    color: $darkGray;
  }
}

.return {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  display: none;

  &__button {
    width: 3.125rem;
    height: 3.125rem;
    border: 1px solid $firstGreen;
    border-radius: 50%;
    transition: all 0.2s ease-in;
    margin-right: 1.25rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button:hover {
    background-color: $firstGreen;
    border-color: $firstGreen;

    svg {
      path {
        fill: #fff;
      }
    }
  }

  &__text {
    font-family: Inter;
    font-size: 0.875rem;
    line-height: 1.36;

    color: $darkGray;
  }
}

.categories {
  display: flex;
  justify-content: flex-start;
  margin-top: 3.125rem;
  padding: 0 0 1.875rem;
  border-bottom: 1px solid #e0e0e0;
  display: none;

  &__button {
    padding: 0.5625rem 2rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in;
    border: 1px solid $midGray;
    font-family: $jostFont;
    font-size: 1rem;
    line-height: 1.44;
    color: $midGray;
    margin-right: 1.25rem;
  }

  &__button:hover {
    background-color: $firstGreen;
    border-color: $firstGreen;
    color: #fff;
  }
}

.tags {
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #bdbdbd;
  display: flex;
  justify-content: space-between;

  &__filter {
    position: relative;
    display: flex;
  }

  &__select {
    position: relative;
    margin-right: 1.25rem;
    width: 13rem;
  }

  &__list {
    width: 100%;
    text-align: left;
    background: #efefef;
    padding: 0.3125rem 0.875rem;
    border-radius: 4px;
    color: $darkGray;
    font-family: Inter;
    font-size: 1rem;
    line-height: 1.44;
    letter-spacing: 0.015em;
    position: relative;
    display: inline-flex;

    &::before,
    &::after {
      content: '';
      width: 6px;
      height: 2px;
      background-color: #8f9bb3;
      position: absolute;
      top: calc(50% - 1px);
      right: 16px;
      border-radius: 1px;
      transition: transform 0.3s ease-in;
    }
    &::before {
      right: 19px;
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }

  &__button {
    padding: 0.4063rem 2rem 0.4063rem 1rem;
    background-color: #efefef;
    border-radius: 5px;
    margin-right: 1.25rem;
    color: $darkGray;
    font-family: Inter;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.36;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
    position: relative;

    &::before,
    &::after {
      content: '';
      width: 8px;
      height: 1px;
      background-color: #8f9bb3;
      position: absolute;
      top: 50%;
      right: 0.75rem;
      border-radius: 1px;
      transition: background-color 0.3s ease-in;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }

    &:hover {
      color: #fff;
      background-color: $firstGreen;

      &::before,
      &::after {
        background-color: #fff;
      }
    }
  }

  &__items {
    list-style: none;
    position: absolute;
    top: 1.5rem;
    left: 0;
    width: 100%;
    background-color: #efefef;
    padding: 1rem 2rem 1rem 1rem;
    border-radius: 4px;
    z-index: 10;
    display: none;
  }

  &__item {
    font-family: Inter;
    font-size: 1rem;
    line-height: 1.44;
    letter-spacing: 0.015em;
    color: $darkGray;
    padding-top: 1rem;
    width: 100%;
    display: block;
    text-align: left;
  }

  &__active {
    display: block;

    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
    }
  }
}

.publication {
  position: relative;

  &__button {
    background-color: #efefef;
    border-radius: 4px;
    padding: 0.3125rem 3rem 0.3125rem 1rem;
    color: $darkGray;
    font-family: Inter;
    font-size: 1rem;
    line-height: 1.44;
    position: relative;

    &::before,
    &::after {
      content: '';
      width: 6px;
      height: 2px;
      background-color: #8f9bb3;
      position: absolute;
      top: calc(50% - 1px);
      right: 1rem;
      border-radius: 1px;
      transition: transform 0.3s ease-in;
    }
    &::before {
      right: 1.1875rem;
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }

  &__items {
    list-style: none;
    position: absolute;
    top: 1.5rem;
    left: 0;
    width: 100%;
    background-color: #efefef;
    padding: 1rem 2rem 1rem 1rem;
    border-radius: 4px;
    z-index: 10;
    display: none;
  }

  &__item {
    font-family: Inter;
    font-size: 1rem;
    line-height: 1.44;
    letter-spacing: 0.015em;
    color: $darkGray;
    padding-top: 1rem;
    width: 100%;
    display: block;
    text-align: left;
  }

  &__active {
    display: block;

    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
    }
  }
}

.news {
  margin-top: 2.5rem;

  &__title_mobile {
    display: none;
  }

  &__content {
    display: flex;
    margin-top: 2.875rem;
    flex-wrap: wrap;
  }

  &__button {
    margin-top: 4.8125rem;
  }
  &__button_mobile {
    display: none;
  }
}

.pagination {
  display: flex;
  border-bottom: 1px solid #bdbdbd;
  padding-bottom: 6.25rem;

  &__button {
    width: 2.625rem;
    height: 2.625rem;
    border: 1px solid #d9d9d9;
    border-radius: 2px;

    font-size: 1rem;
    line-height: 1.87;
    color: rgba(0, 0, 0, 0.85);

    transition: all 0.3s ease-in;
    margin-right: 0.9375rem;
    position: relative;

    &:first-child::before,
    &:first-child::after,
    &:last-child::before,
    &:last-child::after {
      content: '';
      width: 8px;
      height: 1px;
      background-color: #bdbdbd;

      position: absolute;
      top: 45%;
      left: 50%;
    }

    &:first-child::before {
      transform: translateX(-50%) rotate(45deg);
      top: 60%;
    }
    &:first-child::after {
      transform: translateX(-50%) rotate(-45deg);
    }
    &:last-child::before {
      transform: translateX(-50%) rotate(45deg);
    }
    &:last-child::after {
      transform: translateX(-50%) rotate(-45deg);
      top: 60%;
    }

    &:hover,
    &:focus {
      background-color: $firstGreen;
      color: #fff;
      border-color: $firstGreen;

      &:first-child::before,
      &:first-child::after,
      &:last-child::before,
      &:last-child::after {
        background-color: #fff;
      }
    }
  }

  a {
    width: 100%;
    height: 100%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s ease-in;

    &:hover {
      color: #fff;
    }
  }
}

@media (max-width: 1100px) {
  .categories {
    margin-top: 2.5625rem;
    overflow-x: scroll;
    padding-left: 0;
    white-space: nowrap;
    padding-bottom: 1.375rem;

    &__button {
      font-size: 14px;
      line-height: 1.64;
      margin-right: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .intro {
    margin-top: 3.75rem;

    &__title {
      font-size: 2rem;
      line-height: 1.37;
    }
  }
  .return {
    display: none;
  }
  .tags {
    margin-top: 1.25rem;
    padding-bottom: 1.25rem;

    &__button {
      display: none;
    }
    &__publication {
      display: none;
    }
    &__filter {
      width: 100%;
    }
    &__list {
      width: 100%;
      height: 3rem;
      padding: 0.75rem 0.875rem;
      font-family: Inter;
      font-size: 1rem;
      line-height: 1.44;
      letter-spacing: 0.015em;
      color: $darkGray;
    }

    &__select {
      width: 100%;
      margin: 0;
    }
    &__items {
      top: 2.5rem;
    }
    &__item {
      display: block;
    }
  }
  .publication {
    display: none;
  }

  .pagination {
    display: none;
  }

  .news__button_mobile {
    height: 3rem;
    background-color: $firstGreen;
    padding: 0.7813rem 1.5rem;
    display: flex;
    align-items: center;
    border-radius: 0.375rem;
    position: relative;
    margin: 3.75rem auto 0;
    transition: background-color 0.3s ease-in;

    span {
      font-family: Inter;
      font-size: 1rem;
      line-height: 1.44;
      letter-spacing: -0.015em;
      color: $lightGray;
      margin-right: 2.125rem;
    }

    &:hover {
      background-color: $hoverGreen;
    }
  }

  // .post:not(:first-child) {
  //     .post__wrapper {
  //         height: auto;
  //     }
  //     .post__image {
  //         display: none;
  //     }
  //     .post__category {
  //         margin: 0;
  //         margin-right: 0.9375rem;
  //         padding: 0.1875rem 0.75rem;
  //         font-size: $jostFont;
  //         font-size: 0.875rem;
  //         line-height: 1.64;
  //     }
  //     .post__title {
  //         margin-top: 0.5rem;
  //     }
  // }
}
