@import "root";
@import "sidebar";
@import "indexModal";
@import "feedbackForm";

.breadcrumbs {
  display: none;
}

.price-index-what {
  &__container {
    display: flex;
  }
}

.green {
  color: $firstGreen;
}
.bold {
  font-weight: 500;
}

.content {
  flex: 1 1 auto;
  padding: 1.8125rem 1.875rem 5rem 1.8125rem;
  color: rgba(37, 37, 37, 1);
}

.section {
  margin-bottom: 4.0625rem;
  .title {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    color: rgba(37, 37, 37, 1);
  }

  .desc {
    font-size: 1.25rem;
    line-height: 1.8125rem;
    color: rgba(37, 37, 37, 1);
  }

  desc .bold {
    font-weight: 600;
  }
}

.note {
  display: block;
  font-size: 1.25rem;
  color: rgba(130, 130, 130, 1);
  margin-top: 0.9375rem;
}

.profit {
  &__list {
    margin-top: 2.0625rem;
    display: grid;
    grid-template-columns: repeat(4, 13.5rem);
    grid-gap: 2.375rem;
  }
}

.profit__item {
  display: flex;
  flex-direction: column;

  &__img {
    padding: 0px 1.875rem;
    margin-bottom: 1.125rem;
    height: 4.625rem;

    img {
      height: 100%;
      max-width: 5.3125rem;
    }
  }

  &__title {
    max-width: 12.5rem;
    color: rgba(37, 37, 37, 1);
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-weight: 600;
    margin-bottom: 1.125rem;
  }

  &__desc {
    color: rgba(37, 37, 37, 1);
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
}

.formation {
  &__list {
    margin-top: 2.0625rem;

    display: grid;
    grid-template-columns: repeat(4, 13.5rem);
    grid-gap: 2.375rem;
  }
}

.formation__item {
  display: flex;
  flex-direction: column;
  position: relative;

  &__img {
    display: flex;
    align-items: flex-end;
    padding: 0px 1.875rem;
    margin-bottom: 1.125rem;
    height: 5.35rem;

    img {
      height: 100%;
      max-width: 5.3125rem;
    }
  }

  &__title {
    max-width: 12.5rem;
    color: rgba(37, 37, 37, 1);
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-weight: 600;
    margin-bottom: 0.9375rem;
  }

  &__desc {
    color: rgba(37, 37, 37, 1);
    font-size: 1.125rem;
    line-height: 1.625rem;
  }

  &__arrow {
    position: absolute;
    top: 2.8125rem;
    right: 0;

    img {
      height: 100%;
      max-width: 3.125rem;
    }
  }
}

.formation__item:nth-child(4) {
  .formation__item__arrow {
    display: none;
  }
}

.scheme {
  width: 40.3125rem;
  height: 40rem;
  margin: 6.875rem auto 0 auto;
  position: relative;

  &__img {
    height: 100%;
    width: auto;
  }

  &__title {
    color: rgba(37, 37, 37, 1);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.6rem;
    position: absolute;
    top: 30%;
    right: 30%;
  }
}

.scheme__member {
  font-size: 1.25rem;
  line-height: 1.5625rem;
  position: absolute;
  border-bottom: 1px solid $firstGreen;
  color: rgba(134, 129, 129, 1);

  &::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 2.8125rem;
    background-color: $firstGreen;
  }
}

.member__desc {
  display: block;
}
.member__desc__5 {
  display: none;
}

.member {
  &_1 {
    top: 9.3125rem;
    left: -7rem;

    &::after {
      bottom: -2.4375rem;
      right: -1rem;
      transform: rotate(-45deg);
    }
  }

  &_2 {
    top: -4rem;
    right: 9.125rem;
    color: #000;

    &::after {
      bottom: -2.5rem;
      left: -1rem;
      transform: rotate(45deg);
    }
  }

  &_3 {
    top: 8.5rem;
    right: -8.625rem;
    color: #000;

    &::after {
      bottom: -2.4375rem;
      left: -1rem;
      transform: rotate(45deg);
    }
  }

  &_4 {
    top: 34.5rem;
    right: 0.625rem;

    &::after {
      bottom: -0.4375rem;
      left: -1rem;
      transform: rotate(-45deg);
    }
  }

  &_5 {
    top: 34.5rem;
    left: 0;

    &::after {
      bottom: -0.4375rem;
      right: -1rem;
      transform: rotate(45deg);
    }
  }
}

.members__button {
  cursor: pointer;
  display: block;
  margin: 2.5rem auto 0 auto;
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  font-family: Inter;
  color: rgba(255, 255, 255, 1);
  padding: 1rem 1.5rem;
  border-radius: 6px;
  background-color: $firstGreen;
  transition: background-color 0.3s ease-in;

  &:hover {
    background-color: $hoverGreen;
  }
}

.faq__item {
  border-radius: 8px;
  background-color: #f2f2f2;
}

.faq__head {
  cursor: pointer;
  margin-top: 0.9375rem;
  padding: 0.75rem 1.875rem;
  position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 1.3125rem;
    right: 2.5rem;
    top: calc(50% - 0.6875rem);
    background-color: rgba(116, 115, 124, 1);
    transition: transform 0.3s ease-in, background-color 0.3s ease-in;
  }

  &::after {
    transform: rotate(90deg);
  }
}

.faq__active {
  &::before {
    transform: rotate(-45deg);
    background-color: #30ad63;
  }
  &::after {
    transform: rotate(45deg);
    background-color: #30ad63;
  }
}

.faq__title {
  color: rgba(37, 37, 37, 1);
  font-size: 1.5rem;
  font-weight: 500;
  padding-right: 1.875rem;
}
.faq__content {
  display: none;
  color: rgba(37, 37, 37, 1);
  font-size: 1.25rem;
  padding: 0 1.875rem 0.9375rem;

  &__paragraph {
    margin-bottom: 0.8125rem;
    color: rgba(37, 37, 37, 1);
    font-size: 1.25rem;
  }

  &__paragraph.coefficient {
    margin-bottom: 1.4375rem;
  }

  &__list {
    list-style-type: none;
    padding: 0;
  }

  &__item {
    padding-left: 1rem;
    position: relative;
    margin-bottom: 0.5rem;

    &:before {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      top: 0.5625rem;
      left: 0;
      background-color: #30ad63;
      border-radius: 50%;
    }
  }
}

th,
td {
  border: 1px solid #f2f2f2;
  background-color: rgba(255, 255, 255, 0.9);
}

th {
  padding: 0.8125rem 2rem 0.8125rem 2rem;
  font-size: 0.875rem;
}

td {
  padding: 0.625rem 1.125rem 0.625rem 2rem;
  font-size: 12px;
}

@media (max-width: 768px) {
  .price-index-what .wrapper {
    width: 100%;
  }

  .content {
    padding: 1.875rem 1.3125rem 3.4375rem 1.3125rem;
  }

  .section {
    margin-bottom: 3.125rem;
    .title {
      font-size: 1.75rem;
      line-height: 2rem;
    }
  }

  .profit {
    &__list {
      margin-top: 1.875rem;

      grid-gap: 0;
      display: flex;
      flex-direction: column;
      max-width: 23.4375rem;
    }
  }

  .profit__item {
    flex-direction: row;

    &:not(:last-child) {
      margin-bottom: 2.1875rem;
    }

    &__img {
      padding: 0 0.9375rem 0 0;
      height: 3.625rem;

      img {
        width: 3.4375rem;
      }
    }

    &__title {
      margin-bottom: 0.6875rem;
    }
  }

  .formation__item:nth-child(4) {
    .formation__item__arrow {
      display: block;
    }
  }

  .formation {
    &__list {
      margin-top: 1.875rem;

      grid-gap: 0;
      display: flex;
      flex-direction: column;
      max-width: 23.4375rem;
    }
  }

  .formation__item {
    flex-direction: row;

    &:not(:last-child) {
      margin-bottom: 1.25rem;
      padding-bottom: 4.375rem;
    }

    &__img {
      padding: 0 0.9375rem 0 0;
      height: 3.625rem;
      img {
        width: 3.4375rem;
      }
    }

    &__title {
      margin-bottom: 0.6875rem;
    }

    &__arrow {
      top: 95%;
      right: 50%;
      transform: rotate(90deg) translateX(-50%);
    }
  }

  .scheme {
    width: 100%;
    height: auto;
    margin-top: 3.375rem;

    img {
      width: 100%;
      height: auto;
    }

    &__title {
      font-size: 1rem;
      line-height: 1.1rem;
    }
  }

  .scheme__member {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }

  .member__desc {
    display: none;
  }
  .member__desc__5 {
    display: block;
  }

  .member {
    &_1 {
      top: 40%;
      left: 24%;
      z-index: -1;

      &::after {
        height: 2.0625rem;
        bottom: -0.3rem;
        right: 5.7rem;
        transform: rotate(-45deg);
      }
    }

    &_2 {
      top: -2rem;
      right: 50%;
      transform: translateX(50%);
      z-index: -1;

      &::after {
        bottom: -2.5rem;
        left: 1rem;
        transform: rotate(-45deg);
      }
    }

    &_3 {
      top: 47%;
      right: 24%;
      z-index: -1;

      &::after {
        bottom: -0.2rem;
        left: 6.7rem;
        transform: rotate(29deg);
      }
    }

    &_4 {
      top: 62%;
      right: 26%;
      z-index: -1;

      &::after {
        bottom: -2.4375rem;
        left: 1rem;
      }
    }

    &_5 {
      top: 49%;
      left: 23%;
      z-index: -1;

      &::after {
        height: 5.3625rem;
        bottom: -5.4rem;
        right: 5rem;
        transform: rotate(-10deg);
      }
    }
  }

  .faq__head {
    padding: 0.8125rem 0.875rem;
    &:before,
    &:after {
      right: 1.25rem;
    }
  }

  .faq__title {
    font-size: 1.1875rem;
    line-height: 1.5rem;
  }

  .faq__content {
    padding: 0 0.8125rem 1.0625rem 0.8125rem;

    &__item {
      margin-bottom: 0.875rem;
    }

    &__paragraph.coefficient {
      display: none;
    }
  }

  table {
    padding-top: 0.625rem;
  }

  th {
    padding: 0.6875rem 0.625rem;
  }

  td {
    padding: 0.625rem;
  }
}

@media (max-width: 380px) {
  .scheme {
    &__title {
      top: 27%;
      right: 24%;
    }
  }
  .member_5 {
    &::after {
      height: 3.3625rem;
      bottom: -3.4rem;
      right: 5.2rem;
    }
  }
}
