@import "root";
@import "sidebar";

.breadcrumbs {
  display: none;
}

.content {
  flex: 1 1 auto;
  background-color: #f9f9fb;
  padding: 1.8125rem 1.875rem;
}

.price-index {
  &__container {
    display: flex;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(15, 14, 14, 1);
  }
}

.weekly-index {
  @include flexible("flex-start", "center");

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(37, 37, 37, 1);
    margin-right: 7px;
  }

  span {
    font-size: 1.125rem;
    color: #828282;
    position: relative;
    bottom: -2px;
  }
}

.cards {
  &__row {
    margin-bottom: 3.125rem;
  }

  &__row__title {
    font-weight: 500;
    font-size: 1.5rem;
    color: #252525;
    margin-bottom: 0.6875rem;
  }

  &__list {
    display: flex;
  }
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  list-style-type: none;
  flex: 0 1 20.9375rem;
  padding: 1.1875rem 1.1875rem 1.375rem 1.125rem;
  border-radius: 0.625rem;

  &:not(:last-child) {
    margin-right: 1.4375rem;
  }
}

.card__heading {
  flex: 1 0 auto;
  @include flexible("space-between", "flex-start");
  margin-bottom: 2.6875rem;

  &__title {
    color: #000;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    max-width: 70%;
  }
}

.card__trend {
  padding: 4px 12px;
  border-radius: 1.75rem;
  @include flexible("center", "center");

  &__percent {
    font-size: 1.125rem;
    font-weight: 500;
  }

  &__up {
    background-color: #e4fff5;
    .card__trend__percent {
      color: rgba(14, 116, 33, 1);
    }
  }

  &__down {
    background-color: #ffcfcf;
    .card__trend__percent {
      color: rgba(221, 13, 13, 1);
    }
  }
}

.card__body {
  @include flexible("flex-start", "center");

  .last_week {
    padding-right: 15px;
    border-right: 1px solid #9b9a9a;
    &__price {
      color: #74737c;
      font-size: 1.25rem;
    }
    &__desc {
      color: #74737c;
      font-size: 0.875rem;
    }
  }
  .this_week {
    padding-left: 15px;
    &__price {
      color: #252525;
      font-size: 1.25rem;
      font-weight: 500;
    }
    &__desc {
      font-size: 0.875rem;
      color: #4f4f4f;
    }
  }
}
