@import "root";
@import "sidebar";
@import "indexModal";
@import "successModal";
@import "feedbackForm";

.content {
  flex: 1 1 auto;
  background-color: #f9f9fb;
  padding: 1.8125rem 1.875rem 5.625rem 1.875rem;
}

.price-index {
  &__container {
    display: flex;
  }

  &__title {
    font-size: 1.5rem;
    line-height: 2.125rem;
    font-weight: 600;
    color: rgba(15, 14, 14, 1);
    margin-bottom: 1.875rem;
  }
}

.chart {
  padding: 1.8125rem 2.125rem 2.125rem 2.125rem;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0.625rem;
}

.canvas {
  margin-top: 0.625rem;
}

.controller {
  &__group {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1.3375rem;
  }

  &__title {
    font-size: 1.125rem;
    color: #000;
    font-weight: 500;
    line-height: 1.625rem;
    margin-bottom: 1.25rem;
  }
}

.period__item {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

// .period__input {
//   cursor: pointer;
//   width: 0.8125rem;
//   height: 0.8125rem;
//   margin-right: 6px;
//   position: relative;
//   border: 1px solid #828282;
//   border-radius: 50%;
//   transition: border 0.2s ease-in;

//   &::after {
//     content: "";
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     display: block;
//     background-color: transparent;
//     width: 0.5rem;
//     height: 0.5rem;
//     border-radius: 50%;
//     transition: background-color 0.2s ease-in;
//   }
// }

// .period__input:checked {
//   border: 1px solid #379b42;
//   &::after {
//     background-color: #379b42;
//   }
// }

.period__input__fake {
  cursor: pointer;
  width: 0.8125rem;
  height: 0.8125rem;
  margin-right: 6px;
  border: 1px solid #828282;
  border-radius: 50%;
  transition: border 0.2s ease-in;
  padding: 0.125rem;

  span {
    display: block;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: background-color 0.2s ease-in;
  }
}

.period__input:checked + .period__input__fake {
  border: 1px solid #379b42;
  span {
    background-color: #379b42;
  }
}

.controller__product_type {
  margin-left: 4.375rem;
}

.tab__group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.controller__tab {
  color: #000;
  font-size: 0.875rem;
  padding: 5px 0.9375rem;
  border: 1px solid #828282;
  border-radius: 1.625rem;

  &:not(:last-child) {
    margin-right: 0.625rem;
  }

  &.active {
    border: 1px solid rgba(55, 155, 66, 1);
    color: rgba(55, 155, 66, 1);
    background-color: #ecf9ee;
  }
}

.chart {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.9375rem;
}

.product__checkboxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1rem;
  margin-top: -2rem;
  margin-left: 10rem;
}

.checkbox__wrapper {
  display: flex;
  align-items: center;
  margin-right: 1.875rem;
  cursor: pointer;
}

.checkbox__fake {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  flex-basis: 1.5rem;
  border: 1px solid #828282;
  border-radius: 4px;
  position: relative;
  margin-right: 0.5625rem;
  transition: all 0.3s ease-in;

  svg {
    width: 0.75rem;
    height: 0.625rem;
  }
}

.checkbox__text {
  color: rgba(37, 37, 37, 1);
  font-size: 0.875rem;
  flex: 1 0 auto;
}

.checkbox__input:checked + .checkbox__fake {
  border: 1px solid transparent;
}
.checkbox__input__1:checked + .checkbox__fake {
  background-color: rgba(154, 87, 221, 1);
}
.checkbox__input__2:checked + .checkbox__fake {
  background-color: rgba(17, 114, 211, 1);
}
.checkbox__input__3:checked + .checkbox__fake {
  background-color: rgb(254, 200, 89);
}
.checkbox__input__4:checked + .checkbox__fake {
  background-color: rgb(57, 198, 85);
}
.checkbox__input__5:checked + .checkbox__fake {
  background-color: rgb(253, 123, 30);
}

.chart__download_btn {
  background-color: #379b42;
  min-width: 9.1875rem;
  min-height: 1.8125rem;
  padding: 5px 1.5rem;
  font-size: 1rem;
  border-radius: 6px;
  align-self: flex-end;
  margin-top: 1.875rem;
  transition: background-color 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $hoverGreen;
  }

  p {
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    margin-right: 5px;
  }
}

.weekly-index {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.8125rem;

  &__title {
    font-size: 1.5rem;
    line-height: 2.125rem;
    font-weight: 600;
    color: rgba(37, 37, 37, 1);
    margin-right: 7px;
  }

  span {
    font-size: 1.125rem;
    color: #828282;
    position: relative;
    bottom: -2px;
  }
}

.cards {
  &__row {
    margin-bottom: 3.125rem;
  }
  &__row:last-child {
    margin-bottom: 4.375rem;
  }

  &__row__title {
    font-weight: 500;
    font-size: 1.5rem;
    color: #252525;
    margin-bottom: 0.6875rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 20.9375rem);
    grid-gap: 1.5625rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  list-style-type: none;
  padding: 1.1875rem 1.1875rem 1.375rem 1.125rem;
  border-radius: 0.625rem;
  box-shadow: 0px 0px 10px 1px rgba(108, 108, 108, 0.1);

  &__green {
    background-color: #d6fedf;
  }

  &__yellow {
    background-color: #f3fdd6;
  }
  &__blue {
    background-color: #e4f9fb;
  }
}

.card__heading {
  flex: 1 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2.6875rem;
}
.card__title {
  color: #000;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
  max-width: 70%;
}

.card__trend {
  padding: 4px 12px;
  border-radius: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  svg {
    top: -2px;
    margin-right: 4px;
  }

  &__percent {
    font-size: 1.125rem;
    font-weight: 500;
  }

  &__up {
    .card__trend__percent {
      color: rgba(14, 116, 33, 1);
    }
  }

  &__down {
    svg {
      transform: rotateX(180deg);
      path {
        fill: rgba(221, 13, 13, 1);
      }
    }

    .card__trend__percent {
      color: rgba(221, 13, 13, 1);
    }
  }
}

.card__body {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .last_week {
    padding-right: 0.9375rem;
    border-right: 1px solid #9b9a9a;
    &__price {
      color: #74737c;
      font-size: 1.25rem;
    }
    &__desc {
      color: #74737c;
      font-size: 0.875rem;
    }
  }
  .this_week {
    padding-left: 15px;
    &__price {
      color: #252525;
      font-size: 1.25rem;
      font-weight: 500;
    }
    &__desc {
      font-size: 0.875rem;
      color: #4f4f4f;
    }
  }
}

// -------------------------------------------------------------------
@media (max-width: 768px) {
  .price-index {
    .wrapper {
      width: 100%;
    }

    &__title {
      margin-bottom: 1.4375rem;
    }
  }

  .content {
    padding: 1.25rem 1.25rem 3.4375rem 1.25rem;
    background-color: #fff;
  }

  .period__group {
    display: flex;
    margin-bottom: 1.5625rem;
  }

  .period__item {
    margin-right: 1.6875rem;
    margin-bottom: 0;
  }

  .weekly-index {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0.6875rem;

    span {
      bottom: 0;
      order: -1;
      font-size: 1rem;
    }
  }

  .cards {
    &__row {
      margin-bottom: 1rem;
    }

    &__row:last-child {
      margin-bottom: 1rem;
    }

    &__list {
      grid-gap: 0;
      display: flex;
      flex-direction: column;
    }

    &__row__title {
      margin-bottom: 6px;
    }
  }

  .card {
    max-width: 21rem;
    margin-bottom: 1rem;
  }

  .chart {
    padding: 0;
  }

  .controller {
    &__title {
      margin-bottom: 0.8125rem;
    }

    &__group {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .controller__product_type {
    margin-left: 0;
  }

  .tab__group {
    flex-wrap: wrap;
  }

  .controller__tab {
    margin-bottom: 0.75rem;
  }

  .product__checkboxes {
    flex-wrap: wrap;
    order: 2;
    margin-top: 1.875rem;
    margin-left: 0;
  }

  .checkbox__wrapper {
    margin-bottom: 1.0625rem;
  }

  .checkbox__fake {
    flex-basis: 1rem;
    height: 1rem;

    svg {
      width: 8px;
      height: 7px;
    }
  }

  .chart__download_btn {
    order: 3;
    margin-top: 0;
  }
}

.tooltip {
  background-color: #252525;
  border-radius: 4px;
  padding: 5px 10px;

  &__title {
    color: #ffffff;
    font-family: $jostFont;
  }

  &__diff {
    padding-left: 10px;
    font-family: $jostFont;
  }

  &__diff.up {
    color: #16eb56;
    background: url("./../img/index-price/arrow_up.svg") no-repeat left;
  }

  &__diff.down {
    color: #ff0000;
    background: url("./../img/index-price/arrow_down.svg") no-repeat left;
  }
}

@media (max-width: 400px) {
  .chart__download_btn {
    width: 100%;
  }
}
