$gen: #000000;
$accent: rgb(4, 0, 255);
$bgc: #f5f5f5;
$text: #c0c0c0;
$font: sans-serif;

:root {
  --main-green: #39ad46;
  --second-green: #27ae60;
  --hover-green: #58ca65;
  --dark-green: #1e7d5b;

  --dark-gray: #4f4f4f;
  --mid-gray: #828282;
  --light-gray: #f2f2f2;
  --extra-gray: #333;

  --golos-font: Golos;
  --jost-font: Jost;
}

$firstGreen: var(--main-green);
$secondGreen: var(--second-green);
$hoverGreen: var(--hover-green);
$darkGreen: var(--dark-green);

$darkGray: var(--dark-gray);
$midGray: var(--mid-gray);
$lightGray: var(--light-gray);
$extraGray: var(--extra-gray);

$golosFont: var(--golos-font);
$jostFont: var(--jost-font);
