@import "root";
@import "mixins";

.sidebar {
  flex: 0 0 14.0625rem;
  padding-top: 2.5rem;
}

.sidebar__nav {
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 24px;
    padding: 0px 0px 0px 0.9375rem;

    a {
      transition: color 0.3s ease-in;
      font-size: 1.125rem;
      color: rgba(62, 63, 62, 1);
    }

    a.active {
      color: rgba(55, 155, 66, 1);
      font-weight: 600;
    }

    &:hover {
      a {
        color: rgba(88, 202, 101, 1);
      }
    }
  }
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
