@import "root";

.social {
    margin-top: 6.25rem;
}

.card {
    width: 100%;
    height: 16.25rem;
    border-radius: 0.75rem;
    background: $lightGray;
    padding: 1.875rem;
    transition: all 0.3s ease-in;

    &__icon {
        display: block;

        path {
            transition: fill 0.3s ease-in;
        }
    }

    &__subtitle {
        margin-top: 1.5rem;
        display: block;
        font-family: Inter;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.44;
        color: $firstGreen;
        width: fit-content;
        padding-bottom: 0.25rem;
        border-bottom: 2px solid $firstGreen;
        transition: all 0.3s ease-in;
    }

    &__text {
        margin-top: 1rem;
        max-width: 22.375rem;
        display: block;
        font-family: Golos;
        font-size: 1rem;
        line-height: 1.44;
        letter-spacing: -0.015em;
        color: $darkGray;
        transition: all 0.3s ease-in;
    }

    &:hover {
        background-color: $firstGreen;

        .card__subtitle {
            color: #fff;
            border-color: #fff;
        }
        .card__text {
            color: #fff;
        }
        .card__icon {
            path {
                fill: #fff;
            }
        }
    }
}

.carouselSocial {
    margin-top: 2.5rem;

    &__buttons {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 4.375rem;
    }

    &__prev,
    &__next {
        width: 3.1875rem;
        height: 3.1875rem;
        border: 1px solid $firstGreen;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0.875rem;
        transition: background-color 0.3s ease-in;
    }

    &__prev:hover,
    &__next:hover {
        background-color: $firstGreen;
        svg {
            path {
                fill: $lightGray;
            }
        }
    }

    &__next {
        transform: rotate(180deg);
    }
}

@media (max-width: 768px) {
    .social {
        margin-top: 7.5rem;
    }
    .carouselSocial__buttons {
        margin-top: 2.5rem;
    }

    .card__icon {
        margin-bottom: 1.5rem;
    }

    .card__subtitle {
        display: inline;
    }

    .card__text {
        display: block;
        font-family: Inter;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.43;
    }
}
