@media (max-width: 48rem) {
    .analytics {
        margin-top: 6.9375rem;
    }

    .analytics__info {
        // display: block;
        flex-direction: column;
    }

    .graph {
        width: 100%;
        height: 36.875rem;
    }

    .graph__title {
        max-width: 100%;
        margin: 1.25rem 0.75rem 0 1rem;

        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5;

        color: #333;
    }
    .customCheckbox + label {
        font-size: 0.875rem;
        line-height: 1.64;
    }
    
    .checkbox + .checkbox {
        margin-top: 1.5rem;
    }

    .materials {
        order: 1;
        width: 100%;
        height: 14.375rem;
        margin: 3.4375rem 0 0;
    }

    .materials__picture {
        display: none;
    }
    .materials__picture_mobile {
        display: block;
    }

    .materials__info {
        padding: 1.25rem 1.5625rem 1.5rem;
    }

    .materials__title {
        max-width: 11.0625rem;
        font-size: 20px;
        line-height: 1.3;
    }

    .notes {
        margin-top: 3.125rem;
    }
}