.analytics {
    margin-top: 6.25rem;
}
.analytics__title {
    
    font-family: Inter;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 2.75rem;

    color: #4f4f4f;
}

.analytics__info {
    width: 100%;
    display: flex;
}
.graph {
    width: 55.1875rem;
    height: 34.375rem;
    background-color: #f2f2f2;
}