@import 'mixins';
@import 'footer_mobile';

.footer {
    margin-top: 6.25rem;
    width: 100%;

    padding: 2.9375rem 4rem 0;
    background-color: #39AD46;
}

.footerInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-bottom: 3.5625rem;
    border-bottom: 1px solid #F2F2F2;
}

// .footerInfo__logo, .footerInfo__mainInfo, .footerForm {
//     width: calc(100% / 4);
// }

.footerInfo__logo {
    display: flex;
    width: 20%;
} 

.footerInfo__title {
    margin-left: 1.25rem;

    max-width: 9.1875rem;
    font-family: Golos;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.44;
    letter-spacing: -0.015em;

    color: #F2F2F2;
}

.footerInfo__mainInfo {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: -0.015em;

    color: #F2F2F2;
    width: 20%;
}


.form__email {
    display: flex;
    margin-top: 0.9375rem;
}

.footerForm {
    width: 20%;
}
.footerForm__title {
    color: #F2F2F2;
}
.footerForm__inputText {
    width: 17.3125rem;
    height: 3rem;
    border: 1px solid #F2F2F2;
    border-right: none;

    border-top-left-radius: 0.4375rem;
    border-bottom-left-radius: 0.4375rem;

    padding: 0.625rem;
    
    color: #F2F2F2;
    background-color: #39AD46;
}
.footerForm__inputText::placeholder {
    color: #f2f2f2;
}

.footerForm__inputSubmit {
    width: 3.9375rem;
    height: 3rem;
    border: 1px solid #F2F2F2;
    border-left: none;
    
    border-top-right-radius: 0.4375rem;
    border-bottom-right-radius: 0.4375rem;
    background-color: #39AD46;
    background-image: url('../img/icons/arrow.svg');
    background-repeat: no-repeat;

    background-position: center;
    font-size: 0; 
    // line-height: 0;

    cursor: pointer;
}

.footerRefs {
    margin-top: 2.1875rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3.25rem;
    border-bottom: 1px solid #F2F2F2;
}

.footerRefs__column {
    width: 20%;
}

.footerRefs__subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.06;
    color: #F2F2F2;

    cursor: pointer;
}

.footerRefs__text {
    display: block;
    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: #F2F2F2;

    cursor: pointer;
}

.footerRefs__subtitle + .footerRefs__text {
    margin-top: 1.4375rem;
}

.footerRefs__text + .footerRefs__subtitle {
    margin-top: 3.25rem;
}

.footerRefs__text + .footerRefs__text {
    margin-top: 0.9375rem;
}


.footerSocial {
    padding: 1.875rem 0 2.125rem;
    text-align: center;
    padding-bottom: 2.125rem;
    border-bottom: 1px solid #F2F2F2;
}

.footerSocial__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.44;
    letter-spacing: -0.015em;
    color: #F2F2F2;
}

.footerSocial__icons {
    width: 28.4375rem;
    display: flex;
    justify-content: space-between;
    margin: 2.0625rem auto 0;

    svg {
        cursor: pointer;
    }
}

.license {
    margin-top: 1.375rem;
    width: 100%;

    display: flex;
    justify-content: space-between;
    padding-bottom: 2.125rem;
}

.license__text {
    max-width: 21.125rem;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.44;
    letter-spacing: -0.015em;

    color: #F2F2F2;
}

.license__logo {
    p {
        font-family: Golos;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.44;
    text-align: right;
    letter-spacing: -0.015em;

    color: #F2F2F2;

    }
}