@media (max-width: 48rem) {
    .footer {
        margin-top: 7.5rem;

        padding: 3.125rem 1rem 0;
    }
    .footerInfo {
        display: block;
        padding-bottom: 77px;
    }  
    
    .footerRefs__column {
        width: 100%;
        margin-top: 1.1875rem;
    }

    .footerInfo__mainInfo {
        margin-top: 3.6875rem;
    }

    .footerInfo__mainInfo + .footerInfo__mainInfo {
        margin-top: 1.125rem;
    }

    .footerForm {
        margin-top: 3rem;
    }
    .footerForm__inputText {
        width: 100%;
    }

    .footerInfo__title {
        margin-left: 25px;
        font-family: Golos;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.36;
        /* or 136% */
        text-transform: uppercase;
        display: flex;
        align-items: center;
    }

    .footerRefs {
        display: block;
        margin-top: 2.3125rem;
        padding-bottom: 2.625rem;
    }

    .footerRefs__text {
        display: none;
    }

    .footerRefs__subtitle + .footerRefs__text {
        margin-top: 0;
    }
    
    .footerRefs__text + .footerRefs__subtitle {
        margin-top: 1.1875rem;
    }

    .footerRefs__subtitle {
        font-family: Inter;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: -0.015em;
    }

    .footerSocial {
        padding: 2.8125rem 0 2.5rem;
        text-align: left;
    }

    .footerSocial__title {
        font-family: Golos;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.44;
        letter-spacing: -0.015em;
        text-transform: uppercase;
    }

    .footerSocial__icons {
        width: 19.875rem;
        display: block;
        margin: 2.625rem 0 0;
    }

    .footerSocial__icon {
        margin-right: 1.1875rem;
        margin-bottom: 1.5rem;
    }

    .license {
        margin-top: 1.875rem;
        padding-bottom: 2.625rem;
    }
    .license__text {
        width: 13.875rem;
        font-family: Golos;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
    }

    .license__logo {
        p {
            font-size: 0.625rem;
            margin-bottom: 0.5625rem;
        }
        svg {
            width: 5rem;
            height: 1.125rem;
        }
    }
}