@media (max-width: 48rem) {
    .header__container {
        margin-top: 2rem;
        width: 100%;
    }

    .header__logo {
        order: -1;
        width: 9.9375rem;
        height: 3.1875rem;
    }

    .header__buttons {
        display: flex;
    }

    .header__language {
        display: none;
    }
    .header__search {
        display: block;
    }
    
    .header__menu_mobile {
        display: block;
        margin-left: 0.625rem;
    }


    .navbar {
        display: none;
    }


}