.intro__image {
    margin-top: 2.5rem;
    background: url(../img/forest.png) no-repeat;
    width: 100%;
    height: 29.25rem;
    object-fit: cover;
}


.desc__wrapper {
    margin-top: 3.9375rem;
    
}