@media (max-width: 768px) {
    .meetingDate {
        margin-top: 2rem;
    }
    .meetingDate__buttons {
        width: 100%;
        flex-wrap: wrap;
    }
    .meetingDate__button {
        margin-bottom: 1.25rem;
    }

    .meetingDate__readMore {
        display: none;
    }

    .carousel__meeting {
        margin-top: 2.8125rem;
    }

    .carouselMeeting__buttons {
        margin-top: 4.0625rem;
    }

    .directory__finalButton {
        padding: 1.0625rem 1.25rem;
        margin-top: 4.0625rem;
        width: 100%;
        justify-content: center;

        span {
            font-weight: 500;
            font-size: 0.875rem;
            width: 100%;
            margin: 0
        }
    }
}