@import 'mixins';

.meeting {
    margin-top: 6.25rem;
}

.meeting__title {
    @include h2;
}

.meetingDate {
    margin-top: 2.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.meetingDate__buttons {
    display: flex;
}

.meetingDate__button {
    height: 2.375rem;
    border-radius: 1.625rem;

    border: 1px solid #39AD46;
    background-color: #fff;
    margin-right: 0.625rem;

    color: #bdbdbd;
    padding: 0 1.5rem;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.44;

    letter-spacing: -0.015em;

    border: 1px solid #bdbdbd;
}

.meetingDate__button:focus {
    border: 1px solid #39AD46;
    color: #39AD46;
}

.meetingDate__readMore {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.44;

    letter-spacing: -0.015em;

    color: #4F4F4F;
}

.carousel__meeting {
    margin-top: 2.5625rem;

    .post {
        width: 100%;
    }
    
    .post__wrapper {
        width: 100%;
        height: 18.75rem;
        position: relative;
    }
    
    .post__image {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        z-index: -1;
    }
    
    .post__buttons {
        display: flex;
        flex-wrap: wrap;
        margin-right: 20px;
    }
    
    .post__category {
        margin-top: 20px;
        margin-left: 20px;
        height: 29px;
    
        background-color: #27AE60;
        padding: 0.1875rem 0.75rem;
        border-radius: 0.25rem;
    
        font-family: Golos;
        color: #fff;
        font-size: 0.875rem;
        line-height: 1.4375rem;
    }
    
    .post__title {
        margin-top: 1.5625rem;
    
        height: 7.6875rem;
        border-bottom: 1px solid #e0e0e0;
    
        font-family: Inter;
        font-weight: 600;
        font-size: 1.375rem;
        line-height: 1.875rem;
    
        color: #4F4F4F;
    }
    
    .post__views {
        margin-top: 8px;
        display: flex;
        justify-content: space-between;
    }
    .post__count {
        display: flex;
        align-items: center;
    }
    
    .post__number {
        font-family: Golos;
        font-size: 1rem;
        line-height: 1.4375rem;
        letter-spacing: -1.5%;
        color: #828282;
    
        height: 100%;
        margin-left: 0.375rem;
    }
    
    .post__date {
        font-family: Golos;
        font-size: 1rem;
        line-height: 1.4375rem;
        letter-spacing: -1.5%;
        color: #828282;
        height: 100%;
        margin-right: 0.375rem;
    }
}



.carouselMeeting__buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.carouselMeeting__button {
    width: 3.1875rem;
    height: 3.1875rem;
    border: 1px solid #39AD46;

    // background: #39AD46;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 0.875rem;

    transition: background-color 0.3s ease-in;
}
.carouselMeeting__button:hover {
    background-color: #39AD46;

    svg {
       path {
           fill: #f2f2f2;
       } 
    }
}
