.news {
    margin-top: 5.9375rem;
    font-family: Inter;
    font-style: Medium;
    font-size: 2.25rem;

    color: #4f4f4f;
}

.news__content {
    display: flex;
}
.post {
    background: url(../img/post.png);
    width: 27.0625rem;
    height: 18.75rem;
    position: relative;
}
.post__category {
    height: 1.4375rem;
    background-color: #27AE60;
    padding: 0.1875rem 0.75rem;
    margin-left: 1.25rem;

    color: #fff;
    font-size: 0.875rem;
    line-height: 1.37;
}