.news {
    margin-top: 5.9375rem;
    font-family: Inter;
    font-style: Medium;
    font-size: 2.25rem;

    color: #4f4f4f;
}

.news__content {
    display: flex;
    margin-top: 2.875rem;
}
.post__image {
    background: url(../img/post.png);
    width: 27.0625rem;
    height: 18.75rem;
    position: relative;
}
.post__category {
    height: 1.4375rem;
    background-color: #27AE60;
    padding: 0.1875rem 0.75rem;
    margin-left: 1.25rem;
    border-radius: 0.25rem;

    color: #fff;
    font-size: 0.875rem;
    line-height: 1.37;
}

.post__title {
    margin-top: 1.5625rem;
    width: 26.75rem;
    height: 7.6875rem;
    border-bottom: 1px solid #e0e0e0;

    font-family: Inter;
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 1.875rem;

    color: #4F4F4F;
}

.post__views {
    margin-top: 8px;
}
.post__count {
    display: flex;
}