@media (max-width: 48rem) {
    .news {
        margin-top: 6.375rem;
    }

    .news__title {
        display: none;
    }

    .news__title_mobile {
        display: block;
    }

    .news__content { 
        display: block;
        margin-top: 2.25rem;
    }
}