@media (max-width: 48rem) {
    .social {
        margin-top: 7.5rem;
    }
    .carouselSocial__buttons {
        margin-top: 2.5rem;
    }
    
    .card__subtitle {
        max-width: 12rem;
    }
}