@import 'mixins';

.social {
    margin-top: 6.25rem;
}

.social__title {
    @include h2;
}

.card {
    width: 27.0625rem;
    height: 16.25rem;
    border-radius: 0.75rem;
    background: #F2F2F2;
    padding: 1.875rem;
}

.card__subtitle {
    margin-top: 1.5rem;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.44;

    color: #39AD46;
    
    // border-bottom: 2px solid #39AD46;
}

.card__text {
    margin-top: 1rem;
    max-width: 22.375rem;

    font-family: Golos;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.44;

    letter-spacing: -0.015em;


    color: #4F4F4F;
}