@media (max-width: 768px) {
    .social {
        margin-top: 7.5rem;
    }
    .carouselSocial__buttons {
        margin-top: 2.5rem;
    }
    .card__subtitle {
        display: inline;
        position: relative
        top: 24px;
    }
    
    .card__text {
        display: block;
        font-family: Inter;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.43;
    }
}