@import "post";

.news {
    margin-top: 5.9375rem;

    &__title_mobile {
        display: none;
    }

    &__tags {
        margin-top: 2.0625rem;
        display: flex;
        flex-wrap: wrap;
    }

    &__tag {
        border-radius: 5px;
        padding: 0.4063rem 1rem;
        color: $darkGray;
        background-color: #efefef;
        margin-right: 1rem;
        margin-bottom: 1rem;
        transition: color 0.3s ease-in background-color 0.3s ease-in;
        font-family: Inter;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.36;

        &:hover,
        &:focus {
            color: #fff;
            background-color: $firstGreen;
        }
    }

    &__content {
        display: flex;
        margin-top: 2.0625rem;
        flex-wrap: wrap;
    }

    &__button {
        background-color: $firstGreen;
        padding: 1.0625rem 2.3125rem;
        display: flex;
        align-items: center;
        border-radius: 0.375rem;
        position: relative;
        margin: 0 auto;
        transition: background-color 0.3s ease-in;

        span {
            font-family: Inter;
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.4375rem;
            color: $lightGray;
            margin-right: 1.4375rem;
        }

        &:hover {
            background-color: $hoverGreen;
        }
    }
}

@media (max-width: 768px) {
    .news {
        margin-top: 6.375rem;
    }

    .news__title {
        display: none;
    }

    .news__title_mobile {
        display: block;
    }

    .news__content {
        display: block;
        margin-top: 2.25rem;
    }

    .news__button {
        padding: 0.7813rem 1.5rem;
        margin-top: 4.0625rem;

        span {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.44;
            letter-spacing: 0.015em;
        }
    }
}
