<div class="intro">
    <div class="intro__info">
        <h2 class="intro__title">Ассоциация</h2>
    </div>
    <div class="association">
        <button type="button" class="association__button">Стратегия</button>
        <button type="button" class="association__button">Результаты/Проекты</button>
        <button type="button" class="association__button">Команда ассоциации</button>
        <button type="button" class="association__button">Участники ассоциации</button>
        <button type="button" class="association__button">Условия вступления</button>
        <button type="button" class="association__button">Партнеры</button>
        <button type="button" class="association__button">Раскрытие информации</button>
    </div>
</div>
