<div class="index-modal modal__cover">
  <div class="index-modal__content modal__content">
    <button class="index-modal__close modal__close__button">
      <svg
        width="1rem"
        height="1rem"
        viewBox="0 0 18 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M2 1.13867L16 14.9998" stroke="#252525" stroke-width="2" stroke-linecap="round" />
        <path d="M2 14.8613L16 1.00021" stroke="#252525" stroke-width="2" stroke-linecap="round" />
      </svg>
    </button>
    <div class="index-modal__inner">
      <form class="index-modal__form">
        <h3 class="index__form__title">Заявка на участие в индексе</h3>
        <div class="index__form__item">
          <input class="index__form__input" type="text" placeholder="Имя Фамилия" />
          <p class="index__form__error">Обязательно к заполнению</p>
        </div>
        <div class="index__form__item">
          <input class="index__form__input" type="text" placeholder="Название компании" />
          <p class="index__form__error"></p>
        </div>
        <div class="index__form__item">
          <input class="index__form__input" type="text" placeholder="Petrov@mail.ru" />
          <p class="index__form__error"></p>
        </div>
        <div class="index__form__item">
          <input class="index__form__input" type="text" placeholder="+7 (___) ___ – __–__" />
          <p class="index__form__error"></p>
        </div>
        <div class="index__form__checkboxes">
          <input type="checkbox" />
        </div>
      </form>
    </div>
  </div>
</div>
