<div class="sidebar">
  <div class="sidebar__nav">
    <ul class="sidebar__nav__list">
      <li class="sidebar__nav__list__item sidebar__nav__list__item__active">
        <a href="#">Ценовой индекс ЦБП</a>
      </li>
      <li class="sidebar__nav__list__item">
        <a href="#">Что такое индекс</a>
      </li>
      <li class="sidebar__nav__list__item">
        <a href="#">Как применять индекс</a>
      </li>
      <li class="sidebar__nav__list__item">
        <a href="#">Кросс-индекс</a>
      </li>
      <li class="sidebar__nav__list__item">
        <a href="#">Достоверность </a>
      </li>
      <li class="sidebar__nav__list__item">
        <a href="#">Карта ЦБП</a>
      </li>
    </ul>
  </div>
</div>
