<div class="sidebar">
  <div class="sidebar__nav">
    <ul class="sidebar__nav__list">
      <li class="sidebar__nav__item">
        <a href="/price_index.html">Ценовой индекс ЦБП.</a>
      </li>
      <li class="sidebar__nav__item">
        <a href="/price_index_what.html">Что такое индекс</a>
      </li>
      <li class="sidebar__nav__item">
        <a href="/price_index_use.html">Как применять индекс</a>
      </li>
      <li class="sidebar__nav__item">
        <a href="#">Кросс-индекс</a>
      </li>
      <li class="sidebar__nav__item">
        <a href="/price_index_reliability.html">Достоверность </a>
      </li>
      <li class="sidebar__nav__item">
        <a href="#">Карта ЦБП</a>
      </li>
    </ul>
  </div>
</div>
