<div class="success-modal modal__cover">
  <div class="success-modal__content modal__content">
    <button class="success-modal__close modal__close__button">
      <svg
        width="1rem"
        height="1rem"
        viewBox="0 0 18 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M2 1.13867L16 14.9998" stroke="#252525" stroke-width="2" stroke-linecap="round" />
        <path d="M2 14.8613L16 1.00021" stroke="#252525" stroke-width="2" stroke-linecap="round" />
      </svg>
    </button>
    <div><p class="success__message">Подписка оформлена</p></div>
  </div>
</div>
