:root {
  --main-green: #39ad46;
  --second-green: #27ae60;
  --hover-green: #58ca65;
  --dark-green: #1e7d5b;
  --dark-gray: #4f4f4f;
  --mid-gray: #828282;
  --light-gray: #f2f2f2;
  --extra-gray: #333;
  --golos-font: Golos;
}

.meeting {
  margin-top: 11.875rem;
}

.meeting__intro {
  display: flex;
  justify-content: space-between;
}

.meeting__info {
  display: flex;
  justify-content: flex-end;
}

.meeting__more {
  display: none;
}

.meeting__all {
  padding: 0.5313rem 1.5rem;
  color: var(--dark-gray);
  background-color: #efefef;
  border-radius: 6px;
  font-family: Inter;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.64;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}

.carouselMeeting {
  margin-top: 2.5625rem;
}

.carouselMeeting__buttons {
  display: flex;
  justify-content: flex-end;
}

.carouselMeeting__prev,
.carouselMeeting__next {
  width: 3.1875rem;
  height: 3.1875rem;
  border: 1px solid var(--main-green);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.875rem;
  transition: background-color 0.3s ease-in;
}

.carouselMeeting__prev:hover,
.carouselMeeting__next:hover {
  background-color: var(--main-green);
}

.carouselMeeting__prev:hover svg path,
.carouselMeeting__next:hover svg path {
  fill: var(--light-gray);
}

.carouselMeeting__next {
  transform: rotate(180deg);
}

.carouselMeeting .post {
  width: 100%;
}

.directory__finalButton {
  background-color: var(--main-green);
  padding: 1.0625rem 2.3125rem;
  display: flex;
  align-items: center;
  border-radius: 0.375rem;
  position: relative;
  margin: 2.5rem auto 0;
  display: none;
}

.directory__finalButton span {
  font-family: Inter;
  font-size: 1rem;
  line-height: 1.44;
  letter-spacing: -0.015em;
  color: var(--light-gray);
  margin-right: 1.4375rem;
}

:root {
  --main-green: #39ad46;
  --second-green: #27ae60;
  --hover-green: #58ca65;
  --dark-green: #1e7d5b;
  --dark-gray: #4f4f4f;
  --mid-gray: #828282;
  --light-gray: #f2f2f2;
  --extra-gray: #333;
  --golos-font: Golos;
}

.social {
  margin-top: 6.25rem;
}

.card {
  width: 100%;
  height: 16.25rem;
  border-radius: 0.75rem;
  background: var(--light-gray);
  padding: 1.875rem;
  transition: all 0.3s ease-in;
}

.card__icon {
  display: block;
}

.card__icon path {
  transition: fill 0.3s ease-in;
}

.card__subtitle {
  margin-top: 1.5rem;
  display: block;
  font-family: Inter;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.44;
  color: var(--main-green);
  width: fit-content;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid var(--main-green);
}

.card__text {
  margin-top: 1rem;
  max-width: 22.375rem;
  display: block;
  font-family: Golos;
  font-size: 1rem;
  line-height: 1.44;
  letter-spacing: -0.015em;
  color: var(--dark-gray);
}

.card:hover {
  background-color: var(--main-green);
}

.card:hover .card__subtitle {
  color: #fff;
  border-color: #fff;
}

.card:hover .card__text {
  color: #fff;
}

.card:hover .card__icon path {
  fill: #fff;
}

.carouselSocial {
  margin-top: 2.5rem;
}

.carouselSocial__buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 4.375rem;
}

.carouselSocial__prev,
.carouselSocial__next {
  width: 3.1875rem;
  height: 3.1875rem;
  border: 1px solid var(--main-green);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.875rem;
  transition: background-color 0.3s ease-in;
}

.carouselSocial__prev:hover,
.carouselSocial__next:hover {
  background-color: var(--main-green);
}

.carouselSocial__prev:hover svg path,
.carouselSocial__next:hover svg path {
  fill: var(--light-gray);
}

.carouselSocial__next {
  transform: rotate(180deg);
}

:root {
  --main-green: #39ad46;
  --second-green: #27ae60;
  --hover-green: #58ca65;
  --dark-green: #1e7d5b;
  --dark-gray: #4f4f4f;
  --mid-gray: #828282;
  --light-gray: #f2f2f2;
  --extra-gray: #333;
  --golos-font: Golos;
}

.post {
  margin-bottom: 5.0625rem;
  width: 32%;
  height: 32rem;
}

.post__wrapper {
  width: 100%;
  height: 18.75rem;
  position: relative;
}

.post__image {
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.post__buttons {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-right: 1.25rem;
  z-index: 1;
}

.post__category {
  margin-top: 1rem;
  margin-left: 1rem;
  height: 1.8125rem;
  background-color: var(--second-green);
  padding: 0.1875rem 0.75rem;
  border-radius: 4px;
  font-family: var(--golos-font);
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.64;
  transition: background-color 0.3s ease-in;
}

.post__category:hover {
  background-color: var(--hover-green);
}

.post__title {
  margin-top: 1.5625rem;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 2.5rem;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.56;
  color: var(--dark-gray);
}

.post__views {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.post__count {
  display: flex;
  align-items: center;
}

.post__number {
  font-family: var(--golos-font);
  font-size: 1rem;
  line-height: 1.44;
  letter-spacing: -1.5%;
  color: var(--mid-gray);
  height: 100%;
  margin-left: 0.375rem;
}

.post__date {
  font-family: var(--golos-font);
  font-size: 1rem;
  line-height: 1.44;
  letter-spacing: -1.5%;
  color: var(--mid-gray);
  height: 100%;
  margin-right: 0.375rem;
}

.post:nth-child(3n + 2) {
  margin: 0 2%;
}

:root {
  --main-green: #39ad46;
  --second-green: #27ae60;
  --hover-green: #58ca65;
  --dark-green: #1e7d5b;
  --dark-gray: #4f4f4f;
  --mid-gray: #828282;
  --light-gray: #f2f2f2;
  --extra-gray: #333;
  --golos-font: Golos;
}

.newsPage {
  margin-bottom: 6.25rem;
}

.title {
  padding: 3.625rem 0 2.375rem;
  border-bottom: 1px solid #bdbdbd;
}

.title h2 {
  text-align: center;
  font-weight: 400;
  font-size: 3.5625rem;
  line-height: 1.23;
}

.tags {
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
}

.tags__list {
  background: #efefef;
  width: 11.8125rem;
  padding: 0.3125rem 0.875rem;
  border-radius: 4px;
  color: var(--dark-gray);
  font-family: Inter;
  font-size: 1rem;
  line-height: 1.44;
  letter-spacing: 0.015em;
  position: relative;
  display: inline-flex;
  margin-right: 1.25rem;
}

.tags__list::before,
.tags__list::after {
  content: "";
  width: 6px;
  height: 2px;
  background-color: #8f9bb3;
  position: absolute;
  top: calc(50% - 1px);
  right: 16px;
  border-radius: 1px;
}

.tags__list::before {
  right: 19px;
  transform: rotate(45deg);
}

.tags__list::after {
  transform: rotate(-45deg);
}

.tags__button {
  padding: 0.4063rem 2rem 0.4063rem 1rem;
  background-color: #efefef;
  border-radius: 5px;
  margin-right: 1.25rem;
  color: var(--dark-gray);
  font-family: Inter;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.36;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
  position: relative;
}

.tags__button::before,
.tags__button::after {
  content: "";
  width: 8px;
  height: 1px;
  background-color: #8f9bb3;
  position: absolute;
  top: 50%;
  right: 0.75rem;
  border-radius: 1px;
  transition: background-color 0.3s ease-in;
}

.tags__button::before {
  transform: rotate(45deg);
}

.tags__button::after {
  transform: rotate(-45deg);
}

.tags__button:hover {
  color: #fff;
  background-color: var(--main-green);
}

.tags__button:hover::before,
.tags__button:hover::after {
  background-color: #fff;
}

.tags__publication {
  background-color: #efefef;
  border-radius: 4px;
  padding: 0.3125rem 3rem 0.3125rem 1rem;
  color: var(--dark-gray);
  font-family: Inter;
  font-size: 1rem;
  line-height: 1.44;
  position: relative;
}

.tags__publication::before,
.tags__publication::after {
  content: "";
  width: 6px;
  height: 2px;
  background-color: #8f9bb3;
  position: absolute;
  top: calc(50% - 1px);
  right: 1rem;
  border-radius: 1px;
}

.tags__publication::before {
  right: 1.1875rem;
  transform: rotate(45deg);
}

.tags__publication::after {
  transform: rotate(-45deg);
}

.news {
  margin-top: 2.5rem;
}

.news__title_mobile {
  display: none;
}

.news__content {
  display: flex;
  margin-top: 2.875rem;
  flex-wrap: wrap;
}

.news__button {
  margin-top: 4.8125rem;
}

.news__button_mobile {
  display: none;
}

.pagination {
  display: flex;
  border-bottom: 1px solid #bdbdbd;
  padding-bottom: 6.25rem;
}

.pagination__button {
  width: 2.625rem;
  height: 2.625rem;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  font-size: 1rem;
  line-height: 1.87;
  color: rgba(0, 0, 0, 0.85);
  transition: all 0.3s ease-in;
  margin-right: 0.9375rem;
  position: relative;
}

.pagination__button:first-child::before,
.pagination__button:first-child::after,
.pagination__button:last-child::before,
.pagination__button:last-child::after {
  content: "";
  width: 8px;
  height: 1px;
  background-color: #bdbdbd;
  position: absolute;
  top: 45%;
  left: 50%;
}

.pagination__button:first-child::before {
  transform: translateX(-50%) rotate(45deg);
  top: 60%;
}

.pagination__button:first-child::after {
  transform: translateX(-50%) rotate(-45deg);
}

.pagination__button:last-child::before {
  transform: translateX(-50%) rotate(45deg);
}

.pagination__button:last-child::after {
  transform: translateX(-50%) rotate(-45deg);
  top: 60%;
}

.pagination__button:hover,
.pagination__button:focus {
  background-color: var(--main-green);
  color: #fff;
  border-color: var(--main-green);
}

.pagination__button:hover:first-child::before,
.pagination__button:hover:first-child::after,
.pagination__button:hover:last-child::before,
.pagination__button:hover:last-child::after,
.pagination__button:focus:first-child::before,
.pagination__button:focus:first-child::after,
.pagination__button:focus:last-child::before,
.pagination__button:focus:last-child::after {
  background-color: #fff;
}

@media (max-width: 1100px) {
  .categories {
    margin-top: 2.5625rem;
    overflow-x: scroll;
    padding-left: 0;
    white-space: nowrap;
    padding-bottom: 1.375rem;
  }

  .categories__button {
    font-size: 14px;
    line-height: 1.64;
    margin-right: 1rem;
  }
}

@media (max-width: 768px) {
  .meeting__all {
    display: none;
  }

  .meeting__info {
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 5.3125rem;
  }

  .meeting__more {
    background: var(--main-green);
    border-radius: 6px;
    padding: 0.75rem 0.875rem;
    display: flex;
    align-items: center;
    width: 12.625rem;
    height: 3rem;
  }

  .meeting__more span {
    font-family: Inter;
    font-size: 1rem;
    line-height: 1.44;
    letter-spacing: 0.015em;
    color: #fff;
    margin-right: 2.125rem;
  }

  .meetingDate {
    margin-top: 2rem;
  }

  .meetingDate__buttons {
    width: 100%;
    flex-wrap: wrap;
  }

  .meetingDate__button {
    margin-bottom: 1.25rem;
  }

  .meetingDate__readMore {
    display: none;
  }

  .carousel__meeting {
    margin-top: 2.8125rem;
  }

  .carousel__meeting .post {
    width: 20.875rem;
  }

  .carousel__meeting .post__category {
    margin-right: 0.625rem;
  }

  .carousel__meeting .post__category {
    margin: 10px 0 0 0.625rem;
  }

  .carousel__meeting .post__title {
    height: 100%;
    margin-top: 1.375rem;
    padding-bottom: 2.8125rem;
  }

  .carousel__meeting .post__number,
  .carousel__meeting .post__date {
    font-size: 0.75rem;
    line-height: 1.4375rem;
  }

  .directory__finalButton {
    padding: 1.0625rem 1.25rem;
    margin-top: 4.0625rem;
    width: 100%;
    justify-content: center;
  }

  .directory__finalButton span {
    font-weight: 500;
    font-size: 0.875rem;
    width: 100%;
    margin: 0;
  }

  .social {
    margin-top: 7.5rem;
  }

  .carouselSocial__buttons {
    margin-top: 2.5rem;
  }

  .card__icon {
    margin-bottom: 1.5rem;
  }

  .card__subtitle {
    display: inline;
  }

  .card__text {
    display: block;
    font-family: Inter;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
  }

  .post:nth-child(3n + 2) {
    margin: 0;
  }

  .post {
    width: 100%;
    margin-bottom: 0;
    height: auto;
  }

  .post + .post {
    margin-top: 3.125rem;
  }

  .post__wrapper {
    height: 80vw;
  }

  .post__title {
    padding-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .post__category {
    margin: 0.625rem 0 0 0.625rem;
  }

  .post__number,
  .post__date {
    font-size: 0.75rem;
    line-height: 1.4375rem;
  }

  .title {
    padding: 1.375rem 0 1.625rem;
  }

  .title h2 {
    font-size: 2rem;
    line-height: 1.37;
  }

  .return {
    display: none;
  }

  .tags {
    margin-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .tags__button {
    display: none;
  }

  .tags__publication {
    display: none;
  }

  .tags__filter {
    width: 100%;
  }

  .tags__list {
    width: 100%;
    height: 3rem;
    padding: 0.75rem 0.875rem;
    font-family: Inter;
    font-size: 1rem;
    line-height: 1.44;
    letter-spacing: 0.015em;
    color: var(--dark-gray);
  }

  .pagination {
    display: none;
  }

  .news__button_mobile {
    height: 3rem;
    background-color: var(--main-green);
    padding: 0.7813rem 1.5rem;
    display: flex;
    align-items: center;
    border-radius: 0.375rem;
    position: relative;
    margin: 3.75rem auto 0;
    transition: background-color 0.3s ease-in;
  }

  .news__button_mobile span {
    font-family: Inter;
    font-size: 1rem;
    line-height: 1.44;
    letter-spacing: -0.015em;
    color: var(--light-gray);
    margin-right: 2.125rem;
  }

  .news__button_mobile:hover {
    background-color: var(--hover-green);
  }

  .post:not(:first-child) .post__wrapper {
    height: auto;
  }

  .post:not(:first-child) .post__image {
    display: none;
  }

  .post:not(:first-child) .post__category {
    margin: 0;
    margin-right: 0.9375rem;
    padding: 0.1875rem 0.75rem;
    font-size: var(--golos-font);
    font-size: 0.875rem;
    line-height: 1.64;
  }

  .post:not(:first-child) .post__title {
    margin-top: 0.5rem;
  }
}