@charset "UTF-8";

:root {
  --main-green: #39ad46;
  --second-green: #27ae60;
  --hover-green: #58ca65;
  --dark-green: #1e7d5b;
  --dark-gray: #4f4f4f;
  --mid-gray: #828282;
  --light-gray: #f2f2f2;
  --extra-gray: #333;
  --golos-font: Golos;
}

/*Кнопка меню*/

/*В разметке обязательно должна иметь внутренний span */

/*<button class="burger"><span></span></button>*/

.contacts__title {
  padding-top: 5rem;
}

.contacts__title h1 {
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 0.89;
  color: var(--dark-gray);
}

.contacts__info {
  display: flex;
  justify-content: space-between;
  margin-top: 4.375rem;
  padding-bottom: 2.875rem;
  border-bottom: 1px solid #e0e0e0;
}

.contacts__phone,
.contacts__email {
  width: calc((100% - 1.25rem) / 2);
}

.contacts__phone span,
.contacts__email span {
  display: block;
  font-size: 1.5rem;
  line-height: 1.42;
  color: var(--mid-gray);
}

.contacts__phone a,
.contacts__email a {
  display: block;
  margin-top: 1.5625rem;
  font-size: 2rem;
  line-height: 1.37;
  font-weight: 400;
  color: var(--dark-gray);
}

.social {
  padding: 2.5rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
}

.social__block {
  width: calc((100% - 1.25rem) / 2);
  padding-top: 2.5rem;
}

.social__block h3 {
  font-size: 1.5rem;
  line-height: 1.42;
  font-weight: 400;
  color: var(--mid-gray);
}

.social__links {
  display: flex;
  margin-top: 1.375rem;
}

.social__link {
  margin-right: 1.25rem;
  width: 2.5rem;
  height: 2.5rem;
}

.social__signature {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.44;
  letter-spacing: -0.015em;
  color: var(--mid-gray);
}

.form {
  margin-top: 1.125rem;
}

.form__input {
  width: 21.25rem;
  padding: 0.75rem 1.25rem;
  border-radius: 7px;
  border: 1px solid #e0e0e0;
  margin-right: 1.25rem;
  font-size: 1rem;
  line-height: 1.44;
  color: var(--dark-gray);
}

.form__input::placeholder {
  font-size: 1rem;
  line-height: 1.44;
  color: var(--dark-gray);
  opacity: 0.6;
}

.form__submit {
  background: var(--main-green);
  border-radius: 6px;
  padding: 0.75rem 1.875rem;
  color: var(--light-gray);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.44;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in;
}

.form__submit:hover {
  background-color: var(--hover-green);
}

.departments {
  margin-top: 3.75rem;
  display: flex;
  justify-content: space-between;
}

.department {
  width: calc((100% - 1.25rem) / 2);
  background: var(--light-gray);
  border-radius: 12px;
  padding: 1.875rem;
}

.department__title {
  font-size: 1.5rem;
  line-height: 1.42;
  color: var(--dark-gray);
  font-weight: 400;
}

.department__position {
  display: block;
  margin-top: 1rem;
  color: var(--mid-gray);
  font-size: 1.25rem;
  line-height: 1.5;
}

.department__person {
  display: block;
  margin-top: 0.375rem;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.44;
  color: var(--dark-gray);
}

.department__contacts {
  margin-top: 1.5rem;
  display: flex;
}

.department__phone,
.department__email {
  width: 50%;
}

.department__phone span,
.department__email span {
  display: block;
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--mid-gray);
}

.department__phone a,
.department__email a {
  display: block;
  margin-top: 0.375rem;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.44;
  text-decoration-line: underline;
  color: var(--dark-green);
}

.yandexMap {
  margin-top: 3.75rem;
  margin-bottom: 4.375rem;
  height: 31.25rem;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .contacts__title {
    padding-top: 5rem;
  }

  .contacts__title h1 {
    font-size: 2.25rem;
    line-height: 1.39;
  }

  .contacts__info {
    display: block;
    margin-top: 3.375rem;
    padding: 0;
    border: none;
  }

  .contacts__email,
  .contacts__phone {
    width: 100%;
  }

  .contacts__email {
    margin-top: 2.8125rem;
  }

  .social {
    display: block;
    padding: 0;
    margin-top: 4.25rem;
    border: none;
  }

  .social__block {
    width: 100%;
    padding: 0;
  }

  .social__block + .social__block {
    margin-top: 5.25rem;
  }

  .social__links {
    margin: 0;
    flex-wrap: wrap;
  }

  .social__link {
    margin-top: 1.375rem;
  }

  .form__input {
    margin: 0;
  }

  .form__submit {
    width: 100%;
    margin-top: 1.375rem;
  }

  .departments {
    margin-top: 5.25rem;
    display: block;
  }

  .department {
    width: 100%;
  }

  .department__contacts {
    display: block;
  }

  .department__phone,
  .department__email {
    width: 100%;
  }

  .department__email {
    margin-top: 1.25rem;
  }

  .department + .department {
    margin-top: 3.25rem;
  }

  .yandexMap {
    margin-bottom: 0;
  }
}