:root {
  --main-green: #39ad46;
  --second-green: #27ae60;
  --hover-green: #58ca65;
  --dark-green: #1e7d5b;
  --dark-gray: #4f4f4f;
  --mid-gray: #828282;
  --light-gray: #f2f2f2;
  --extra-gray: #333;
  --golos-font: Golos;
}

.modal {
  display: block;
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: var(--main-green);
  z-index: 10;
  padding: 1.75rem 1rem;
  transition: left 0.3s ease-in;
}

.modal__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  font-size: 3.5625rem;
  line-height: 1.23;
  color: var(--light-gray);
}

.modal__buttons {
  display: flex;
}

.modal__search,
.modal__close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid var(--light-gray);
  margin-left: 0.75rem;
}

.modal__content {
  margin-top: 2.8125rem;
  padding-bottom: 3.625rem;
  border-bottom: 1px solid var(--light-gray);
}

.modal__select {
  margin-top: 1.125rem;
}

.modal__burger {
  position: relative;
}

.modal__burger::after {
  content: "";
  width: 5px;
  height: 1px;
  position: absolute;
  top: 50%;
  background: var(--light-gray);
  left: 139px;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in;
}

.modal__burger::before {
  content: "";
  width: 5px;
  height: 1px;
  position: absolute;
  top: 50%;
  background: var(--light-gray);
  left: 136px;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in;
}

.modal__hiddenRefs {
  margin-top: 1.125rem;
  margin-left: 1rem;
  overflow: hidden;
  display: none;
}

.modal__ref {
  display: block;
  color: var(--light-gray);
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: -0.015em;
  margin-top: 1.125rem;
}

.modal__ref:first-child {
  margin: 0;
}

.modal__contacts {
  margin-top: 1.5rem;
}

.modal__contact {
  display: block;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: -0.015em;
  color: var(--light-gray);
}

.modal__contact + .modal__contact {
  margin-top: 1.125rem;
}

.active {
  left: 0;
}

.activeAccordion {
  opacity: 1;
}

.activeHiddenRefs {
  display: block;
}

.activeHiddenRefs::before {
  transform: rotate(-45deg);
}

.activeHiddenRefs::after {
  transform: rotate(45deg);
}

.header__container {
  margin-top: 2.1875rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: static;
}

.header__search,
.header__menu_mobile {
  height: 2.625rem;
  width: 2.625rem;
  background-color: var(--light-gray);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menu_mobile {
  display: none;
}

.header__button {
  height: 1.4375rem;
  border: none;
  font-family: Inter;
  font-size: 1rem;
  line-height: 1.44;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: var(--dark-gray);
  opacity: 0.2;
}

.header__button_active {
  opacity: 1;
}

.header__button a {
  color: var(--dark-gray);
}

.associationModal {
  position: absolute;
  top: 4rem;
  left: 0;
  z-index: 10;
  background: var(--light-gray);
  border-radius: 8px;
  padding: 1.25rem 0;
  display: none;
}

.associationModal__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.associationModal__ref {
  display: block;
  padding: 1rem 1.875rem 0;
  font-size: 1rem;
  line-height: 1.44;
  color: var(--mid-gray);
}

.associationModal__ref + .associationModal__ref {
  padding-top: 1rem;
}

.associationModal__active {
  display: block;
}

.navbar {
  position: relative;
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding: 1.1875rem 0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.navbar__item {
  position: relative;
  display: flex;
  justify-content: center;
  height: 1.25rem;
  width: 100%;
  font-family: Inter;
  font-size: 1rem;
  line-height: 1.44;
  text-align: center;
  color: var(--dark-gray);
}

.navbar__item:after {
  content: "";
  background-image: url(../img/icons/border.svg);
  width: 1px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
}

.navbar__item:last-child::after {
  display: none;
}

.breadcrumbs {
  position: absolute;
  top: 4.75rem;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 1;
}

.breadcrumbs__prev {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.36;
  color: #bdbdbd;
}

.breadcrumbs__circle {
  background: #636363;
  width: 5px;
  height: 5px;
  margin: 0 0.625rem;
  border-radius: 50%;
}

.breadcrumbs__point {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.36;
  color: var(--dark-gray);
}

.bx-breadcrumb {
  z-index: 1;
}

.bx-breadcrumb i {
  background: #636363;
  width: 5px;
  height: 5px;
  margin: 0 0.625rem;
  border-radius: 50%;
}

.bx-breadcrumb-item {
  margin: 0;
}

.bx-breadcrumb-item span {
  margin: 0;
  font-weight: 500;
  font-size: 0.875rem !important;
  line-height: 1.36;
  color: var(--dark-gray);
  font-family: Inter !important;
}

.breadcrumbs__circle {
  width: 0.25rem !important;
  height: 0.25rem !important;
}

.nav__list {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.nav__listitem {
  list-style: none;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1.1rem 1rem;
  cursor: pointer;
  font-family: Inter;
  font-size: 1rem;
  line-height: 1.44;
  text-align: center;
}

.nav__listitem:not(:last-child):after {
  content: "";
  background-image: url(http://liga.asap-lp.ru/local/templates/leaugue/assets/img/icons/border.svg);
  width: 1px;
  height: 50%;
  position: absolute;
  top: 25%;
  right: 0;
}

.nav__listitem::before {
  content: "";
  width: 0;
  height: 0.3rem;
  border-radius: 0.2rem;
  position: absolute;
  left: 1rem;
  bottom: 0.8rem;
  transition: width 200ms ease-in;
}

.nav__listitem:hover::before,
.nav__listitem:focus::before {
  width: 80%;
}

.nav__listitem:hover ul,
.nav__listitem:focus ul {
  opacity: 1;
  visibility: visible;
}

.nav__listitemdrop {
  position: absolute;
  width: 100%;
  top: 3rem;
  padding: 0 0 1.25rem 0;
  background-color: #f2f2f2;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out;
  text-align: left;
  z-index: 2;
}

.nav__listitemdrop a {
  list-style: none;
  padding: 1rem 1.875 rem 0;
  border-radius: 2px;
  transition: background-color 200ms ease-in-out;
}

.associationModal__ref {
  font-size: 0.8rem;
}

.nav__listitemdrop a {
  padding: 1rem 1rem 0;
}

@media (max-width: 768px) {
  .breadcrumbs {
    display: none;
  }

  .header__container {
    margin-top: 2rem;
    width: 100%;
  }

  .header__logo {
    order: -1;
  }

  .header__logo img {
    width: 9.9375rem;
    height: 3.1875rem;
  }

  .header__buttons {
    display: flex;
  }

  .header__language {
    display: none;
  }

  .header__menu_mobile {
    display: block;
    margin-left: 0.625rem;
    display: flex;
    align-items: center;
  }

  .navbar {
    display: none;
  }
}