@charset "UTF-8";

:root {
  --main-green: #39ad46;
  --second-green: #27ae60;
  --hover-green: #58ca65;
  --dark-green: #1e7d5b;
  --dark-gray: #4f4f4f;
  --mid-gray: #828282;
  --light-gray: #f2f2f2;
  --extra-gray: #333;
  --golos-font: Golos;
}

:root {
  --main-green: #39ad46;
  --second-green: #27ae60;
  --hover-green: #58ca65;
  --dark-green: #1e7d5b;
  --dark-gray: #4f4f4f;
  --mid-gray: #828282;
  --light-gray: #f2f2f2;
  --extra-gray: #333;
  --golos-font: Golos;
}

.post {
  margin-bottom: 5.0625rem;
  width: 32%;
  height: 32rem;
}

.post__wrapper {
  width: 100%;
  height: 18.75rem;
  position: relative;
}

.post__image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.post__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post__buttons {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-right: 1.25rem;
  z-index: 1;
}

.post__category {
  margin-top: 1rem;
  margin-left: 1rem;
  height: 1.8125rem;
  background-color: var(--second-green);
  padding: 0.1875rem 0.75rem;
  border-radius: 4px;
  font-family: var(--golos-font);
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.64;
  transition: background-color 0.3s ease-in;
}

.post__category:hover {
  background-color: var(--hover-green);
}

.post__title {
  margin-top: 1.5625rem;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 2.5rem;
}

.post__title a {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.56;
  color: var(--dark-gray);
  -webkit-line-clamp: 3;
  /* Число отображаемых строк */
  display: -webkit-box;
  /* Включаем флексбоксы */
  -webkit-box-orient: vertical;
  /* Вертикальная ориентация */
  overflow: hidden;
  height: 5rem;
}

.post__views {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.post__count {
  display: flex;
  align-items: center;
}

.post__number {
  font-family: var(--golos-font);
  font-size: 1rem;
  line-height: 1.44;
  letter-spacing: -1.5%;
  color: var(--mid-gray);
  height: 100%;
  margin-left: 0.375rem;
}

.post__date {
  font-family: var(--golos-font);
  font-size: 1rem;
  line-height: 1.44;
  letter-spacing: -1.5%;
  color: var(--mid-gray);
  height: 100%;
  margin-right: 0.375rem;
}

.post:nth-child(3n + 2) {
  margin: 0 2%;
}

.news {
  margin-top: 5.9375rem;
}

.news__title_mobile {
  display: none;
}

.news__tags {
  margin-top: 2.0625rem;
  display: flex;
}

.news__tag {
  border-radius: 5px;
  padding: 0.4063rem 1rem;
  color: var(--dark-gray);
  background-color: #efefef;
  margin-right: 1rem;
  transition: color 0.3s ease-in background-color 0.3s ease-in;
  font-family: Inter;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.36;
}

.news__tag:hover,
.news__tag:focus {
  color: #fff;
  background-color: var(--main-green);
}

.news__content {
  display: flex;
  margin-top: 2.0625rem;
  flex-wrap: wrap;
}

.news__button {
  background-color: var(--main-green);
  padding: 1.0625rem 2.3125rem;
  display: flex;
  align-items: center;
  border-radius: 0.375rem;
  position: relative;
  margin: 0 auto;
  transition: background-color 0.3s ease-in;
}

.news__button span {
  font-family: Inter;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.4375rem;
  color: var(--light-gray);
  margin-right: 1.4375rem;
}

.news__button:hover {
  background-color: var(--hover-green);
}

:root {
  --main-green: #39ad46;
  --second-green: #27ae60;
  --hover-green: #58ca65;
  --dark-green: #1e7d5b;
  --dark-gray: #4f4f4f;
  --mid-gray: #828282;
  --light-gray: #f2f2f2;
  --extra-gray: #333;
  --golos-font: Golos;
}

.lightpick {
  position: absolute;
  z-index: 99999;
  padding: 1rem 1rem 1.5rem;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  color: var(--dark-gray);
  font-family: Inter;
  line-height: 1.125em;
}

.lightpick--inlined {
  position: relative;
  display: inline-block;
}

.lightpick,
.lightpick *,
.lightpick::after,
.lightpick::before {
  box-sizing: border-box;
}

.lightpick.is-hidden {
  display: none;
}

.lightpick__months {
  display: grid;
  background-color: #eee;
  grid-template-columns: auto;
  grid-gap: 1px;
}

.lightpick--2-columns .lightpick__months {
  grid-template-columns: auto auto;
}

.lightpick--3-columns .lightpick__months {
  grid-template-columns: auto auto auto;
}

.lightpick--4-columns .lightpick__months {
  grid-template-columns: auto auto auto auto;
}

.lightpick--5-columns .lightpick__months {
  grid-template-columns: auto auto auto auto auto;
}

.lightpick__month {
  background-color: #fff;
}

.lightpick__month-title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lightpick__month-title {
  font-size: 1.5rem;
  line-height: 1.25;
}

.lightpick__month-title > .lightpick__select {
  border: none;
  background-color: transparent;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 1.5rem;
  line-height: 1.25;
}

.lightpick__select:disabled {
  color: #333;
}

.lightpick__select-months,
.lightpick__select-years {
  font-size: 24px;
  line-height: 1.25;
  color: var(--dark-gray);
  text-transform: capitalize;
}

.lightpick__select-months option,
.lightpick__select-years option {
  text-align: center;
  text-transform: capitalize;
}

.lightpick__select-months {
  margin-right: 10px;
}

.lightpick__toolbar {
  display: flex;
  text-align: right;
  justify-content: flex-end;
}

.lightpick__previous-action,
.lightpick__next-action,
.lightpick__close-action {
  display: flex;
  margin-left: 6px;
  width: 32px;
  height: 32px;
  outline: none;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.lightpick__next-action {
  transform: rotate(180deg);
}

.lightpick__previous-action,
.lightpick__next-action {
  position: relative;
}

.lightpick__previous-action::before,
.lightpick__next-action::before {
  content: "";
  background: var(--dark-gray);
  width: 10px;
  height: 2px;
  position: absolute;
  transform: rotate(45deg);
  top: 18px;
  left: 10px;
}

.lightpick__previous-action::after,
.lightpick__next-action::after {
  content: "";
  background: var(--dark-gray);
  width: 10px;
  height: 2px;
  position: absolute;
  transform: rotate(-45deg);
  top: 12px;
  left: 10px;
}

.lightpick__previous-action:hover::before,
.lightpick__previous-action:hover::after,
.lightpick__next-action:hover::before,
.lightpick__next-action:hover::after {
  background: var(--main-green);
}

.lightpick__close-action {
  font-size: 18px;
}

.lightpick__previous-action:active,
.lightpick__next-action:active,
.lightpick__close-action:active {
  color: inherit;
}

.lightpick__days-of-the-week {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.lightpick__day-of-the-week {
  display: flex;
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  color: var(--dark-gray);
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.lightpick__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 12px;
  margin-top: 32px;
}

.lightpick__day {
  display: flex;
  width: 40px;
  height: 40px;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  cursor: default;
  border: 1px solid var(--light-gray);
  border-radius: 50%;
}

.lightpick__day.is-today {
  border-color: var(--main-green);
}

.lightpick__day:not(.is-disabled):hover {
  background-color: var(--main-green);
  color: #fff;
  cursor: pointer;
}

.lightpick__day.is-disabled {
  opacity: 0.38;
  pointer-events: none;
}

.lightpick__day.disabled-tooltip {
  pointer-events: auto;
}

.lightpick__day.is-disabled.is-forward-selected {
  opacity: 1;
}

.lightpick__day.is-disabled.is-forward-selected:not(.is-start-date) {
  background-color: rgba(38, 139, 210, 0.1);
  border-radius: 50%;
  background-image: none;
}

.lightpick__day.is-previous-month,
.lightpick__day.is-next-month {
  opacity: 0.38;
}

.lightpick__day.lightpick__day.is-in-range:not(.is-disabled) {
  opacity: 1;
}

.lightpick__day.is-in-range {
  border-radius: 0;
  background-color: rgba(57, 173, 70, 0.3);
  border-radius: 50%;
}

.lightpick__day.is-in-range:hover {
  background-color: var(--main-green);
}

.lightpick__day.is-start-date.is-in-range,
.lightpick__day.is-end-date.is-in-range.is-flipped {
  border-top-left-radius: 50%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 50%;
  background-color: var(--main-green);
  background-image: none;
}

.lightpick__day.is-end-date.is-in-range,
.lightpick__day.is-start-date.is-in-range.is-flipped {
  border-top-left-radius: 0;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 0;
  background-color: var(--main-green);
  background-image: none;
}

.lightpick__day.is-start-date.is-end-date {
  background-color: var(--main-green);
}

.lightpick__day.is-start-date,
.lightpick__day.is-end-date,
.lightpick__day.is-start-date:hover,
.lightpick__day.is-end-date:hover {
  background-color: var(--main-green);
  color: #fff;
  font-weight: bold;
}

.analytics {
  margin-top: 6.25rem;
}

.analytics__info {
  width: 100%;
  display: flex;
  margin-top: 2.875rem;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
}

.graph {
  width: 65%;
  height: 36.375rem;
  background-color: var(--light-gray);
  border-radius: 0.75rem;
}

.graph__text {
  max-width: 33.25rem;
  margin: 1.75rem 0 0 2.3125rem;
}

.graph__canvas__wrapper {
  width: 48.4375rem;
  height: 23.125rem;
  margin-top: 1rem;
  margin-left: 2.25rem;
}

.graph__button {
  width: 18rem;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.75rem 0 2rem 2.3125rem;
}

.graph__content {
  font-size: 1.125rem;
  line-height: 1.67;
  color: var(--dark-gray);
}

.graph__canvas {
  width: 100%;
}

.customInput {
  width: 15.25rem;
  height: 2.5rem;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin: 1rem 0 0 2.25rem;
  padding: 0.5625rem 0.9375rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.materials {
  width: 33%;
  height: 36.375rem;
  margin-left: 1.375rem;
  background: linear-gradient(0deg, rgba(34, 43, 69, 0.96) -14.52%, rgba(57, 173, 70, 0) 198.45%);
  border-radius: 0.75rem;
  position: relative;
}

.materials__picture,
.materials__picture_mobile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.75rem;
  opacity: 0.5;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.materials__picture_mobile {
  display: none;
}

.materials__info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.625rem 2.75rem 3.5rem;
}

.materials__title {
  max-width: 17rem;
  color: var(--light-gray);
}

.company {
  display: flex;
}

.company img {
  width: 3.75rem;
  height: 3.75rem;
}

.company__title {
  margin-left: 0.3125rem;
  max-width: 9.5625rem;
  font-size: 1.125rem;
  line-height: 1.19;
  letter-spacing: -0.0938rem;
  color: var(--light-gray);
}

.notes {
  margin-top: 2rem;
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox + .checkbox {
  margin-top: 0.875rem;
}

.customCheckbox + label {
  font-family: Inter;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.44;
  color: var(--extra-gray);
  cursor: pointer;
}

.customCheckbox + label::before {
  content: "";
  display: inline-flex;
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid #000;
  border-radius: 0.1875rem;
  margin-right: 0.75rem;
  top: 0.1875rem;
  background-repeat: no-repeat;
  background-position: center center;
}

.customCheckbox:checked + label::before {
  background-color: #00e096;
  border: 1px solid #00e096;
  background-image: url("../img/icons/check.svg");
}

#input_2:checked + label::before {
  background-color: #006fd6;
  border: 1px solid #006fd6;
}

#input_3:checked + label::before {
  background-color: #ff3d71;
  border: 1px solid #ff3d71;
}

#input_4:checked + label::before {
  background-color: #9b51e0;
  border: 1px solid #9b51e0;
}

#input_5:checked + label::before {
  background-color: #39ad46;
  border: 1px solid #39ad46;
}

#input_6:checked + label::before {
  background-color: #ffc94d;
  border: 1px solid #ffc94d;
}

.association {
  margin-top: 6.25rem;
}

.directory {
  margin-top: 6.25rem;
}

.accordion__wrapper {
  position: relative;
}

.accordion {
  width: 100%;
  overflow: hidden;
  background-color: var(--light-gray);
  border-radius: 12px;
  margin-top: 2.875rem;
  padding: 0 2.3125rem 0 2.9375rem;
}

.accordion__icon {
  transition: transform 0.3s ease-in;
}

.accordion__icon path {
  transition: fill 0.3s ease-in;
}

.accordion__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.625rem;
  cursor: pointer;
}

.accordion + .accordion {
  margin-top: 1.25rem;
}

.accordion h3 {
  font-weight: 500;
  line-height: 1.25;
}

.accordion__information {
  max-width: 32.875rem;
  display: none;
}

.accordion__information p {
  color: var(--extra-gray);
}

.accordion__information a {
  margin-top: 0.875rem;
  margin-bottom: 2.0625rem;
  font-family: Inter;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.44;
  color: var(--second-green);
}

.activeAccordion .accordion__icon {
  transform: rotate(45deg);
}

.activeAccordion .accordion__icon path {
  fill: var(--second-green);
}

.directory__button {
  background-color: var(--main-green);
  padding: 1.0625rem 2.3125rem;
  display: flex;
  align-items: center;
  border-radius: 0.375rem;
  position: relative;
  margin: 3.75rem auto 0;
  transition: background-color 0.3s ease-in;
}

.directory__button span {
  font-family: Inter;
  font-size: 1rem;
  line-height: 1.44;
  letter-spacing: -0.015em;
  color: var(--light-gray);
  margin-right: 1.4375rem;
}

.directory__button:hover {
  background-color: var(--hover-green);
}

:root {
  --main-green: #39ad46;
  --second-green: #27ae60;
  --hover-green: #58ca65;
  --dark-green: #1e7d5b;
  --dark-gray: #4f4f4f;
  --mid-gray: #828282;
  --light-gray: #f2f2f2;
  --extra-gray: #333;
  --golos-font: Golos;
}

.meeting {
  margin-top: 11.875rem;
}

.meeting__intro {
  display: flex;
  justify-content: space-between;
}

.meeting__info {
  display: flex;
  justify-content: flex-end;
}

.meeting__more {
  display: none;
}

.meeting__all {
  padding: 0.5313rem 1.5rem;
  color: var(--dark-gray);
  background-color: #efefef;
  border-radius: 6px;
  font-family: Inter;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.64;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}

.carouselMeeting {
  margin-top: 2.5625rem;
}

.carouselMeeting__buttons {
  display: flex;
  justify-content: flex-end;
}

.carouselMeeting__prev,
.carouselMeeting__next {
  width: 3.1875rem;
  height: 3.1875rem;
  border: 1px solid var(--main-green);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.875rem;
  transition: background-color 0.3s ease-in;
}

.carouselMeeting__prev:hover,
.carouselMeeting__next:hover {
  background-color: var(--main-green);
}

.carouselMeeting__prev:hover svg path,
.carouselMeeting__next:hover svg path {
  fill: var(--light-gray);
}

.carouselMeeting__next {
  transform: rotate(180deg);
}

.carouselMeeting .post {
  width: 100%;
}

.directory__finalButton {
  background-color: var(--main-green);
  padding: 1.0625rem 2.3125rem;
  display: flex;
  align-items: center;
  border-radius: 0.375rem;
  position: relative;
  margin: 2.5rem auto 0;
  display: none;
}

.directory__finalButton span {
  font-family: Inter;
  font-size: 1rem;
  line-height: 1.44;
  letter-spacing: -0.015em;
  color: var(--light-gray);
  margin-right: 1.4375rem;
}

:root {
  --main-green: #39ad46;
  --second-green: #27ae60;
  --hover-green: #58ca65;
  --dark-green: #1e7d5b;
  --dark-gray: #4f4f4f;
  --mid-gray: #828282;
  --light-gray: #f2f2f2;
  --extra-gray: #333;
  --golos-font: Golos;
}

.social {
  margin-top: 6.25rem;
}

.card {
  width: 100%;
  height: 16.25rem;
  border-radius: 0.75rem;
  background: var(--light-gray);
  padding: 1.875rem;
  transition: all 0.3s ease-in;
}

.card__icon {
  display: block;
}

.card__icon path {
  transition: fill 0.3s ease-in;
}

.card__subtitle {
  margin-top: 1.5rem;
  display: block;
  font-family: Inter;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.44;
  color: var(--main-green);
  width: fit-content;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid var(--main-green);
  transition: all 0.3s ease-in;
}

.card__text {
  margin-top: 1rem;
  max-width: 22.375rem;
  display: block;
  font-family: Golos;
  font-size: 1rem;
  line-height: 1.44;
  letter-spacing: -0.015em;
  color: var(--dark-gray);
  transition: all 0.3s ease-in;
}

.card:hover {
  background-color: var(--main-green);
}

.card:hover .card__subtitle {
  color: #fff;
  border-color: #fff;
}

.card:hover .card__text {
  color: #fff;
}

.card:hover .card__icon path {
  fill: #fff;
}

.carouselSocial {
  margin-top: 2.5rem;
}

.carouselSocial__buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 4.375rem;
}

.carouselSocial__prev,
.carouselSocial__next {
  width: 3.1875rem;
  height: 3.1875rem;
  border: 1px solid var(--main-green);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.875rem;
  transition: background-color 0.3s ease-in;
}

.carouselSocial__prev:hover,
.carouselSocial__next:hover {
  background-color: var(--main-green);
}

.carouselSocial__prev:hover svg path,
.carouselSocial__next:hover svg path {
  fill: var(--light-gray);
}

.carouselSocial__next {
  transform: rotate(180deg);
}

:root {
  --main-green: #39ad46;
  --second-green: #27ae60;
  --hover-green: #58ca65;
  --dark-green: #1e7d5b;
  --dark-gray: #4f4f4f;
  --mid-gray: #828282;
  --light-gray: #f2f2f2;
  --extra-gray: #333;
  --golos-font: Golos;
}

.post {
  margin-bottom: 5.0625rem;
  width: 32%;
  height: 32rem;
}

.post__wrapper {
  width: 100%;
  height: 18.75rem;
  position: relative;
}

.post__image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.post__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post__buttons {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-right: 1.25rem;
  z-index: 1;
}

.post__category {
  margin-top: 1rem;
  margin-left: 1rem;
  height: 1.8125rem;
  background-color: var(--second-green);
  padding: 0.1875rem 0.75rem;
  border-radius: 4px;
  font-family: var(--golos-font);
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.64;
  transition: background-color 0.3s ease-in;
}

.post__category:hover {
  background-color: var(--hover-green);
}

.post__title {
  margin-top: 1.5625rem;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 2.5rem;
}

.post__title a {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.56;
  color: var(--dark-gray);
  -webkit-line-clamp: 3;
  /* Число отображаемых строк */
  display: -webkit-box;
  /* Включаем флексбоксы */
  -webkit-box-orient: vertical;
  /* Вертикальная ориентация */
  overflow: hidden;
  height: 5rem;
}

.post__views {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.post__count {
  display: flex;
  align-items: center;
}

.post__number {
  font-family: var(--golos-font);
  font-size: 1rem;
  line-height: 1.44;
  letter-spacing: -1.5%;
  color: var(--mid-gray);
  height: 100%;
  margin-left: 0.375rem;
}

.post__date {
  font-family: var(--golos-font);
  font-size: 1rem;
  line-height: 1.44;
  letter-spacing: -1.5%;
  color: var(--mid-gray);
  height: 100%;
  margin-right: 0.375rem;
}

.post:nth-child(3n + 2) {
  margin: 0 2%;
}

:root {
  --main-green: #39ad46;
  --second-green: #27ae60;
  --hover-green: #58ca65;
  --dark-green: #1e7d5b;
  --dark-gray: #4f4f4f;
  --mid-gray: #828282;
  --light-gray: #f2f2f2;
  --extra-gray: #333;
  --golos-font: Golos;
}

.positions {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.875rem;
}

.position {
  width: 32%;
  height: 18.125rem;
  border-radius: 0.75rem;
  background-color: var(--light-gray);
  margin-bottom: 1.25rem;
  transition: all 0.2s ease-in;
}

.position__text {
  max-width: 13.125rem;
  margin-top: 4.625rem;
  margin-left: 2.4375rem;
  line-height: 1.25;
  color: var(--dark-gray);
}

.position__icon {
  margin: 2.3125rem 0 0 2.4375rem;
}

.position:first-child .position__icon path {
  fill: var(--main-green);
}

.position:hover {
  background-color: var(--main-green);
}

.position:hover .position__text {
  color: #fff;
}

.position:hover .position__icon path {
  fill: #fff;
}

.position:nth-child(3n + 2) {
  margin: 0 2%;
}

.breadcrumbs {
  display: none;
}

.indexPage {
  margin-bottom: 6.25rem;
}

.intro__image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-top: 2.5rem;
  background: url(../img/forest.png) no-repeat;
  background-size: 100%;
  width: 100%;
  height: 33.75rem;
  object-fit: cover;
  position: relative;
  display: flex;
  border-radius: 1.375rem;
}

.intro__info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.intro__wrapper {
  width: 100%;
  padding: 4.375rem 3.75rem;
}

.intro__title {
  max-width: 30rem;
  font-weight: bold;
  font-size: 3.8125rem;
  line-height: 1.07;
  color: #ffffff;
}

.intro__text {
  max-width: 20.5625rem;
  margin-top: 2.0625rem;
  font-size: 1.125rem;
  line-height: 1.67;
  color: var(--light-gray);
}

.intro__button {
  margin-top: 2.0625rem;
  width: 15.5rem;
  height: 3.5625rem;
  border-radius: 0.375rem;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.28;
  transition: background-color 0.3s ease-in;
}

.intro__button:hover {
  background-color: var(--hover-green);
}

.description {
  margin-top: 3.9375rem;
  display: flex;
}

.desc {
  width: calc(100% / 3);
  position: relative;
  display: flex;
  padding: 0 1.5rem;
}

.desc__icon {
  margin-right: 2.375rem;
}

.desc__subtitle {
  color: var(--second-green);
}

.desc__text {
  width: 80%;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  color: var(--dark-gray);
  margin-top: 0.5625rem;
}

.desc:nth-child(1):before {
  content: "";
  width: 1px;
  height: 1.25rem;
  background-image: url(../img/icons/border.svg);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.desc:after {
  content: "";
  width: 1px;
  height: 1.25rem;
  background-image: url(../img/icons/border.svg);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  .post:nth-child(3n + 2) {
    margin: 0;
  }

  .post {
    width: 100%;
    margin-bottom: 0;
    height: auto;
  }

  .post + .post {
    margin-top: 3.125rem;
  }

  .post__wrapper {
    height: 80vw;
  }

  .post__title {
    padding-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .post__category {
    margin: 0.625rem 0 0 0.625rem;
  }

  .post__number,
  .post__date {
    font-size: 0.75rem;
    line-height: 1.4375rem;
  }

  .news {
    margin-top: 6.375rem;
  }

  .news__title {
    display: none;
  }

  .news__title_mobile {
    display: block;
  }

  .news__content {
    display: block;
    margin-top: 2.25rem;
  }

  .news__button {
    padding: 0.7813rem 1.5rem;
    margin-top: 4.0625rem;
  }

  .news__button span {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.44;
    letter-spacing: 0.015em;
  }

  .analytics {
    margin-top: 6.9375rem;
  }

  .analytics__info {
    flex-direction: column;
  }

  .graph {
    width: 100%;
    height: auto;
    padding-bottom: 1.25rem;
  }

  .graph__canvas__wrapper {
    margin-left: 0;
    padding: 0 1.0625rem;
    width: 100%;
  }

  .graph__canvas {
    width: 100%;
    height: auto;
  }

  .graph__title {
    max-width: 100%;
    margin: 1.25rem 1.0625rem 0;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--extra-gray);
  }

  .graph__text {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--extra-gray);
    margin: 1.25rem 1rem 0;
  }

  .graph__button {
    width: calc(100% - 2rem);
    margin: auto;
  }

  .graph__button_wrapper {
    margin-top: 1.875rem;
  }

  .graph__content {
    font-size: 1rem;
  }

  .lightpick {
    left: 50% !important;
    transform: translateX(-50%);
  }

  .customInput {
    margin: 0;
    width: 100%;
  }

  .customCheckbox + label {
    font-size: 0.875rem;
    line-height: 1.64;
    display: flex;
  }

  .customCheckbox + label::before {
    flex-shrink: 0;
  }

  .checkbox + .checkbox {
    margin-top: 1.5rem;
  }

  .materials {
    order: 1;
    width: 100%;
    height: 14.375rem;
    margin: 3.4375rem 0 0;
  }

  .materials__picture {
    display: none;
  }

  .materials__picture_mobile {
    display: block;
  }

  .materials__info {
    padding: 1.25rem 1.5625rem 1.5rem;
  }

  .materials__title {
    max-width: 11.0625rem;
    font-size: 1.25rem;
    line-height: 1.3;
  }

  .notes {
    margin-top: 3.125rem;
  }

  .association__title {
    margin-top: 5.5rem;
  }

  .directory {
    margin-top: 8.125rem;
  }

  .directory__button {
    padding: 0.7813rem 1.5rem;
    margin-top: 2.5rem;
  }

  .directory__button span {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.44;
    letter-spacing: 0.015em;
  }

  .accordion__wrapper {
    margin-top: 2.25rem;
  }

  .accordion__wrapper + .accordion__wrapper {
    margin-top: 1.25rem;
  }

  .accordion {
    margin: 0;
    padding: 0 1.5625rem 0 1.375rem;
  }

  .accordion__title {
    font-size: 1.25rem;
    line-height: 1.15;
  }

  .accordion__main h3 {
    width: 90%;
  }

  .accordion__information p {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.71;
    color: var(--extra-gray);
  }

  .accordion__information a {
    float: right;
    font-size: 0.875rem;
    line-height: 1.86;
    margin: 2.125rem 0 1.875rem;
  }

  .accordion__button {
    width: 100%;
    margin: 2.125rem 0 1.875rem;
    text-align: right;
    font-size: 0.875rem;
    line-height: 1.86;
  }

  .meeting__all {
    display: none;
  }

  .meeting__info {
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 5.3125rem;
  }

  .meeting__more {
    background: var(--main-green);
    border-radius: 6px;
    padding: 0.75rem 0.875rem;
    display: flex;
    align-items: center;
    width: 12.625rem;
    height: 3rem;
  }

  .meeting__more span {
    font-family: Inter;
    font-size: 1rem;
    line-height: 1.44;
    letter-spacing: 0.015em;
    color: #fff;
    margin-right: 2.125rem;
  }

  .meetingDate {
    margin-top: 2rem;
  }

  .meetingDate__buttons {
    width: 100%;
    flex-wrap: wrap;
  }

  .meetingDate__button {
    margin-bottom: 1.25rem;
  }

  .meetingDate__readMore {
    display: none;
  }

  .carousel__meeting {
    margin-top: 2.8125rem;
  }

  .carousel__meeting .post {
    width: 20.875rem;
  }

  .carousel__meeting .post__category {
    margin-right: 0.625rem;
  }

  .carousel__meeting .post__category {
    margin: 10px 0 0 0.625rem;
  }

  .carousel__meeting .post__title {
    height: 100%;
    margin-top: 1.375rem;
    padding-bottom: 2.8125rem;
  }

  .carousel__meeting .post__number,
  .carousel__meeting .post__date {
    font-size: 0.75rem;
    line-height: 1.4375rem;
  }

  .directory__finalButton {
    padding: 1.0625rem 1.25rem;
    margin-top: 4.0625rem;
    width: 100%;
    justify-content: center;
  }

  .directory__finalButton span {
    font-weight: 500;
    font-size: 0.875rem;
    width: 100%;
    margin: 0;
  }

  .social {
    margin-top: 7.5rem;
  }

  .carouselSocial__buttons {
    margin-top: 2.5rem;
  }

  .card__icon {
    margin-bottom: 1.5rem;
  }

  .card__subtitle {
    display: inline;
  }

  .card__text {
    display: block;
    font-family: Inter;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
  }

  .post:nth-child(3n + 2) {
    margin: 0;
  }

  .post {
    width: 100%;
    margin-bottom: 0;
    height: auto;
  }

  .post + .post {
    margin-top: 3.125rem;
  }

  .post__wrapper {
    height: 80vw;
  }

  .post__title {
    padding-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .post__category {
    margin: 0.625rem 0 0 0.625rem;
  }

  .post__number,
  .post__date {
    font-size: 0.75rem;
    line-height: 1.4375rem;
  }

  .positions {
    display: block;
    margin-top: 2.1875rem;
  }

  .position {
    width: 100%;
    height: 14.375rem;
  }

  .position:nth-child(3n + 2) {
    margin: 0 0 1.25rem 0;
  }

  .position__icon {
    margin: 1.6875rem 0 0 1.9375rem;
    width: 5rem;
    height: 5rem;
  }

  .position__text {
    max-width: 10.9375rem;
    margin-top: 0.25rem;
    font-size: 1.25rem;
    line-height: 1.3;
  }

  .intro__image {
    margin-top: 1.875rem;
    background: url("../img/forest_mobile.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 170vw;
    position: relative;
    display: flex;
    border-radius: 1rem;
  }

  .intro__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .intro__wrapper {
    display: block;
    margin-top: 1.5625rem;
    padding: 0 1.0625rem 1.8125rem 1.375rem;
  }

  .intro__title {
    font-size: 2.625rem;
    line-height: 1.14;
    color: var(--light-gray);
  }

  .intro__infoBlock {
    margin-top: 0.9375rem;
  }

  .intro__text {
    width: 100%;
    font-family: Golos;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.67;
    letter-spacing: -0.015em;
  }

  .intro__button {
    margin-top: 1.5625rem;
    width: 18.1875rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .description {
    display: block;
    margin-top: 3.125rem;
  }

  .desc {
    width: 100%;
    justify-content: left;
  }

  .desc + .desc {
    margin-top: 2.1875rem;
  }

  .desc:after,
  .desc:before {
    display: none;
  }

  .desc__info {
    width: 100%;
  }

  .desc__icon {
    margin-right: 2.5rem;
  }

  .desc__subtitle {
    font-size: 1.25rem;
    line-height: 1.15;
  }

  .desc__text {
    line-height: 1.64;
    width: 100%;
  }
}