@charset "UTF-8";

:root {
  --main-green: #39ad46;
  --second-green: #27ae60;
  --hover-green: #58ca65;
  --dark-green: #1e7d5b;
  --dark-gray: #4f4f4f;
  --mid-gray: #828282;
  --light-gray: #f2f2f2;
  --extra-gray: #333;
  --golos-font: Golos;
}

/*Кнопка меню*/

/*В разметке обязательно должна иметь внутренний span */

/*<button class="burger"><span></span></button>*/

:root {
  --main-green: #39ad46;
  --second-green: #27ae60;
  --hover-green: #58ca65;
  --dark-green: #1e7d5b;
  --dark-gray: #4f4f4f;
  --mid-gray: #828282;
  --light-gray: #f2f2f2;
  --extra-gray: #333;
  --golos-font: Golos;
}

.post {
  margin-bottom: 5.0625rem;
  width: 32%;
  height: 32rem;
}

.post__wrapper {
  width: 100%;
  height: 18.75rem;
  position: relative;
}

.post__image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.post__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post__buttons {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-right: 1.25rem;
  z-index: 1;
}

.post__category {
  margin-top: 1rem;
  margin-left: 1rem;
  height: 1.8125rem;
  background-color: var(--second-green);
  padding: 0.1875rem 0.75rem;
  border-radius: 4px;
  font-family: var(--golos-font);
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.64;
  transition: background-color 0.3s ease-in;
}

.post__category:hover {
  background-color: var(--hover-green);
}

.post__title {
  margin-top: 1.5625rem;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 2.5rem;
}

.post__title a {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.56;
  color: var(--dark-gray);
  -webkit-line-clamp: 3;
  /* Число отображаемых строк */
  display: -webkit-box;
  /* Включаем флексбоксы */
  -webkit-box-orient: vertical;
  /* Вертикальная ориентация */
  overflow: hidden;
  height: 5rem;
}

.post__views {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.post__count {
  display: flex;
  align-items: center;
}

.post__number {
  font-family: var(--golos-font);
  font-size: 1rem;
  line-height: 1.44;
  letter-spacing: -1.5%;
  color: var(--mid-gray);
  height: 100%;
  margin-left: 0.375rem;
}

.post__date {
  font-family: var(--golos-font);
  font-size: 1rem;
  line-height: 1.44;
  letter-spacing: -1.5%;
  color: var(--mid-gray);
  height: 100%;
  margin-right: 0.375rem;
}

.post:nth-child(3n+2) {
  margin: 0 2%;
}

.intro {
  margin-top: 4.3125rem;
}

.intro__info {
  position: relative;
  padding-bottom: 3.8125rem;
  border-bottom: 1px solid #bdbdbd;
}

.intro__title {
  font-family: Inter;
  font-weight: 500;
  font-size: 3.5625rem;
  line-height: 1.23;
  color: var(--dark-gray);
}

.return {
  display: flex;
  align-items: center;
  position: absolute;
  width: 83.75rem;
  left: 50%;
  transform: translateX(-50%);
}

.return__button {
  width: 3.125rem;
  height: 3.125rem;
  border: 1px solid var(--main-green);
  border-radius: 50%;
  transition: all 0.2s ease-in;
  margin-right: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.return__button:hover {
  background-color: var(--main-green);
  border: 1px solid var(--main-green);
}

.return__button:hover svg path {
  fill: #fff;
}

.return__text {
  font-family: Inter;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.36;
  color: var(--mid-gray);
}

.wrapper_event {
  width: 41.25rem;
  position: relative;
  margin: 0 auto;
}

.event {
  margin-top: 4.6875rem;
}

.event__title {
  margin-top: 2.5rem;
  color: var(--dark-gray);
  font-weight: 400;
  font-size: 3.5625rem;
  line-height: 1.23;
}

.event__image {
  width: 41.25rem;
  height: 26.25rem;
  margin: 3.625rem auto;
  position: relative;
}

.event__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.event__share {
  background-color: var(--main-green);
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: -4.375rem;
}

.content {
  margin-top: 3.75rem;
}

.content ul {
  list-style: none;
}

.content li {
  font-size: 1.125rem;
  line-height: 1.44;
  color: var(--dark-gray);
  padding-left: 1.5rem;
  position: relative;
}

.content li::before {
  content: "";
  width: 9px;
  height: 9px;
  background-color: var(--main-green);
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 4.5px);
  left: 0;
}

.content li + li {
  margin-top: 0.75rem;
}

.content__author span,
.content__source span {
  font-size: 1rem;
  line-height: 1.44;
  letter-spacing: -0.015em;
  color: var(--dark-gray);
  margin-right: 0.75rem;
}

.content__source {
  margin-top: 0.75rem;
}

.content__source_ref {
  font-family: var(--golos-font);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.44;
  letter-spacing: -0.015em;
  color: var(--main-green);
}

.content__buttons {
  margin-top: 2.75rem;
  display: flex;
  padding-bottom: 0.875rem;
  border-bottom: 1px solid #bdbdbd;
}

.content__button {
  background-color: #efefef;
  border-radius: 5px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.36;
  padding: 0.4063rem 1rem;
  color: var(--dark-gray);
  margin-right: 0.75rem;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.content__button:hover {
  background-color: var(--main-green);
  color: #fff;
}

.carouselEvent {
  margin-top: 2.5rem;
}

.carouselEvent img {
  border-radius: 15px;
  height: 23.875rem;
  object-fit: cover;
}

.carouselEvent__buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.8125rem;
}

.carouselEvent__prev,
.carouselEvent__next {
  width: 3.1875rem;
  height: 3.1875rem;
  border: 1px solid var(--main-green);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.875rem;
  transition: background-color 0.3s ease-in;
}

.carouselEvent__prev:hover,
.carouselEvent__next:hover {
  background-color: var(--main-green);
}

.carouselEvent__prev:hover svg path,
.carouselEvent__next:hover svg path {
  fill: var(--light-gray);
}

.carouselEvent__next {
  transform: rotate(180deg);
}

.carouselEvent__info {
  display: flex;
  justify-content: space-between;
}

.carouselEvent__signature {
  display: block;
  font-family: var(--golos-font);
  font-size: 0.875rem;
  font-weight: 1.14;
  color: var(--dark-gray);
  margin-top: 1.375rem;
}

.documents {
  margin-top: 2.875rem;
  margin-bottom: 11.8125rem;
}

.documents__title {
  font-family: var(--golos-font);
  font-weight: 500;
  font-size: 1.625rem;
  line-height: 1.15;
  color: var(--dark-gray);
}

.document {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.9375rem 1.25rem;
  background: var(--light-gray);
  border-radius: 8px;
  margin-top: 1.8125rem;
}

.document + .document {
  margin-top: 0.875rem;
}

.document__info {
  display: flex;
}

.document__info svg {
  margin-right: 1.25rem;
}

.document__title {
  font-size: 0.875rem;
  line-height: 1.14;
  max-width: 23.6875rem;
  color: var(--mid-gray);
}

.ya-share2__container_size_m .ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__link_more.ya-share2__link_more-button-type_short {
  background: var(--main-green) !important;
  border: none !important;
  width: 2.25rem !important;
  height: 2.25rem !important;
  display: flex !important;
  justify-content: center !important;
  padding: 0 !important;
  align-items: center !important;
}

.ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__icon_more {
  background-image: url("../img/share_outline.svg") !important;
}

.ya-share2__container.ya-share2__container_color-scheme_blackwhite .ya-share2__badge {
  background-color: var(--main-green) !important;
}

.ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__badge_more {
  background-color: var(--main-green) !important;
}

.otherNews {
  margin-top: 6.25rem;
  padding-top: 3.5rem;
  margin-bottom: 6.25rem;
}

.otherNews__info {
  display: flex;
  justify-content: space-between;
}

.otherNews__info-mobile {
  display: none;
}

.otherNews__more {
  display: none;
}

.carouselOther {
  margin-top: 2.5rem;
}

.carouselOther .owl-stage-outer {
  border-radius: 12px;
}

.carouselOther__buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.8125rem;
}

.carouselOther__prev,
.carouselOther__next {
  width: 3.1875rem;
  height: 3.1875rem;
  border: 1px solid var(--main-green);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.875rem;
  transition: background-color 0.3s ease-in;
}

.carouselOther__prev:hover,
.carouselOther__next:hover {
  background-color: var(--main-green);
}

.carouselOther__prev:hover svg path,
.carouselOther__next:hover svg path {
  fill: var(--light-gray);
}

.carouselOther__next {
  transform: rotate(180deg);
}

.carouselOther__info {
  display: flex;
  justify-content: space-between;
}

.carouselOther__signature {
  display: block;
  font-family: var(--golos-font);
  font-size: 0.875rem;
  font-weight: 1.14;
  color: var(--dark-gray);
  margin-top: 1.375rem;
}

.post {
  width: 100%;
}

@media (max-width: 768px) {
  .post:nth-child(3n+2) {
    margin: 0;
  }

  .post {
    width: 100%;
    margin-bottom: 0;
    height: auto;
  }

  .post + .post {
    margin-top: 3.125rem;
  }

  .post__wrapper {
    height: 80vw;
  }

  .post__title {
    padding-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .post__category {
    margin: 0.625rem 0 0 0.625rem;
  }

  .post__number,
  .post__date {
    font-size: 0.75rem;
    line-height: 1.4375rem;
  }

  .wrapper_event {
    width: 90%;
  }

  .intro {
    margin-top: 2.625rem;
  }

  .intro__info {
    padding: 0;
    border: none;
  }

  .intro__title {
    font-size: 2rem;
    line-height: 1.37;
  }

  .event {
    margin-top: 1.6875rem;
  }

  .event__title {
    margin-top: 1.25rem;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.42;
  }

  .event__image {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .event__image img {
    margin: 1.5rem 0;
  }

  .event__share {
    position: relative;
    right: 0;
  }

  .content {
    margin: 0;
  }

  .content__author span {
    display: block;
  }

  .otherNews {
    padding: 0;
    margin-top: 5rem;
  }

  .otherNews__info-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.625rem;
  }

  .otherNews__more {
    background: var(--main-green);
    border-radius: 6px;
    padding: 0.75rem 0.875rem;
    display: flex;
    align-items: center;
  }

  .otherNews__more span {
    font-family: Inter;
    font-size: 1rem;
    line-height: 1.44;
    letter-spacing: 0.015em;
    color: #fff;
    margin-right: 2.125rem;
  }

  .hiden {
    display: none;
  }

  .document__title {
    max-width: 65%;
  }

  .carouselOther__buttons {
    margin: 0;
  }
}