:root {
  --main-green: #39ad46;
  --second-green: #27ae60;
  --hover-green: #58ca65;
  --dark-gray: #4f4f4f;
  --mid-gray: #828282;
  --light-gray: #f2f2f2;
  --extra-gray: #333;
  --golos-font: Golos;
}

.positions__title {
  text-align: center;
  margin-top: 4.1875rem;
}

.content {
  margin-top: 4.5625rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 8.5rem;
}

.position {
  width: calc((100% - 40px) / 3);
  margin-bottom: 1.8125rem;
}

.position:nth-child(3n + 2) {
  margin: 0 1.25rem 1.8125rem;
}

.position__image {
  height: 17.5rem;
}

.position__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px 6px 0px 0px;
}

.position__info {
  background: #f5f5f5;
  height: 7.75rem;
  padding: 2rem 1.5rem 2rem 1.0625rem;
  border-radius: 0px 0px 6px 6px;
}

.position__title {
  font-family: Inter;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--dark-gray);
}

@media (max-width: 768px) {
  .positions__title {
    max-width: 90%;
    margin: 4.1875rem auto 0;
  }

  .content {
    display: block;
    margin-top: 3.75rem;
  }

  .position {
    width: 100%;
    margin-bottom: 1.25rem;
  }

  .position:nth-child(3n + 2) {
    margin: 0 0 1.25rem 0;
  }

  .position__image {
    height: 56vw;
  }
}