@charset "UTF-8";

:root {
  --main-green: #39ad46;
  --second-green: #27ae60;
  --hover-green: #58ca65;
  --dark-green: #1e7d5b;
  --dark-gray: #4f4f4f;
  --mid-gray: #828282;
  --light-gray: #f2f2f2;
  --extra-gray: #333;
  --golos-font: Golos;
  --jost-font: Jost;
}

:root {
  --main-green: #39ad46;
  --second-green: #27ae60;
  --hover-green: #58ca65;
  --dark-green: #1e7d5b;
  --dark-gray: #4f4f4f;
  --mid-gray: #828282;
  --light-gray: #f2f2f2;
  --extra-gray: #333;
  --golos-font: Golos;
  --jost-font: Jost;
}

:root {
  --main-green: #39ad46;
  --second-green: #27ae60;
  --hover-green: #58ca65;
  --dark-green: #1e7d5b;
  --dark-gray: #4f4f4f;
  --mid-gray: #828282;
  --light-gray: #f2f2f2;
  --extra-gray: #333;
  --golos-font: Golos;
  --jost-font: Jost;
}

/*Кнопка меню*/

/*В разметке обязательно должна иметь внутренний span */

/*<button class="burger"><span></span></button>*/

.sidebar {
  flex: 0 0 14.0625rem;
  padding-top: 4.5rem;
}

.sidebar__nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar__nav__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
  padding: 0px 0px 0px 0.9375rem;
}

.sidebar__nav__item a {
  transition: color 0.3s ease-in;
  font-size: 1.125rem;
  color: #3e3f3e;
}

.sidebar__nav__item a.active {
  color: #379b42;
  font-weight: 600;
}

.sidebar__nav__item:hover a {
  color: #58ca65;
}

:root {
  --main-green: #39ad46;
  --second-green: #27ae60;
  --hover-green: #58ca65;
  --dark-green: #1e7d5b;
  --dark-gray: #4f4f4f;
  --mid-gray: #828282;
  --light-gray: #f2f2f2;
  --extra-gray: #333;
  --golos-font: Golos;
  --jost-font: Jost;
}

:root {
  --main-green: #39ad46;
  --second-green: #27ae60;
  --hover-green: #58ca65;
  --dark-green: #1e7d5b;
  --dark-gray: #4f4f4f;
  --mid-gray: #828282;
  --light-gray: #f2f2f2;
  --extra-gray: #333;
  --golos-font: Golos;
  --jost-font: Jost;
}

/*Кнопка меню*/

/*В разметке обязательно должна иметь внутренний span */

/*<button class="burger"><span></span></button>*/

.feedback {
  width: 100%;
  padding: 1.875rem 1.0625rem 1.875rem 1.875rem;
  background-color: #fff;
  border: 1px solid #39ad46;
  border-radius: 0.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback__title {
  font-size: 1.5rem;
  color: #252525;
  font-weight: 600;
}

.feedback__subtitle {
  font-size: 1.125rem;
  color: #252525;
}

.feedback__form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.feedback__form label.error {
  font-size: 0.875rem;
  position: absolute;
  top: -1.2rem;
  left: 3px;
  color: #dd0d0d;
}

.feedback__form__input {
  width: 20.4375rem;
  height: 2.5rem;
  padding: 0px 0.875rem;
  border: 1px solid #4f4f4f;
  border-radius: 6px;
}

.feedback__form__input.error {
  border: 1px solid #dd0d0d;
}

.feedback__form__button {
  height: 2.5rem;
  width: 8.75rem;
  color: white;
  font-size: 1.125rem;
  background-color: #379b42;
  margin-left: 5px;
  border-radius: 6px;
  transition: background-color 0.3s ease-in;
}

.feedback__form__button:hover {
  background-color: var(--hover-green);
}

p {
  color: #252525;
  font-size: 1.25rem;
  line-height: 1.8125rem;
}

.price-index-reliability__container {
  display: flex;
}

.content {
  flex: 1 1 auto;
  padding: 1.6875rem 2.5625rem 8.75rem 2.5625rem;
  color: #252525;
}

.bold {
  font-weight: 500;
}

.green {
  color: var(--main-green);
}

.section {
  margin-bottom: 3.125rem;
}

.section .title {
  font-size: 2.25rem;
  line-height: 3.25rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
  color: #252525;
}

.calculation__desc:not(:last-child) {
  margin-bottom: 0.75rem;
}

.verification__desc:not(:last-child) {
  margin-bottom: 1.875rem;
}

.verification__box {
  display: flex;
  align-items: center;
}

.aside {
  flex: 0 0 23.9375rem;
  background-color: #f9f9fb;
  border-radius: 0 1.5625rem 0 0;
  padding: 1.5625rem 1.6875rem 1.5625rem 1.875rem;
  margin-right: 7.3125rem;
}

.aside__title {
  font-weight: 500;
  color: #252525;
  font-size: 1.5rem;
  line-height: 2.125rem;
  margin-bottom: 0.75rem;
}

.schema {
  width: 100%;
}

.schema__img {
  width: 100%;
}

.schema__img_mobile {
  display: none;
  width: 100%;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .feedback {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.875rem 1.25rem;
  }

  .feedback__title {
    font-size: 1.125rem;
  }

  .feedback__subtitle {
    font-size: 0.875rem;
  }

  .feedback__form {
    margin-top: 1rem;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }

  .feedback__form__input {
    width: 100%;
    margin-bottom: 7px;
  }

  .price-index-reliability .wrapper {
    width: 100%;
  }

  .content {
    padding: 1.4375rem 1.125rem 3.4375rem 1.125rem;
  }

  .section .title {
    font-size: 1.75rem;
    line-height: 2rem;
  }

  .verification__box {
    display: block;
  }

  .aside {
    width: 100%;
    padding: 23px 0 23px 0;
    margin-right: 0;
    margin-bottom: 2.25rem;
  }

  .schema__img {
    display: none;
  }

  .schema__img_mobile {
    display: block;
  }
}