@charset "UTF-8";

:root {
  --main-green: #39ad46;
  --second-green: #27ae60;
  --hover-green: #58ca65;
  --dark-green: #1e7d5b;
  --dark-gray: #4f4f4f;
  --mid-gray: #828282;
  --light-gray: #f2f2f2;
  --extra-gray: #333;
  --golos-font: Golos;
  --jost-font: Jost;
}

:root {
  --main-green: #39ad46;
  --second-green: #27ae60;
  --hover-green: #58ca65;
  --dark-green: #1e7d5b;
  --dark-gray: #4f4f4f;
  --mid-gray: #828282;
  --light-gray: #f2f2f2;
  --extra-gray: #333;
  --golos-font: Golos;
  --jost-font: Jost;
}

:root {
  --main-green: #39ad46;
  --second-green: #27ae60;
  --hover-green: #58ca65;
  --dark-green: #1e7d5b;
  --dark-gray: #4f4f4f;
  --mid-gray: #828282;
  --light-gray: #f2f2f2;
  --extra-gray: #333;
  --golos-font: Golos;
  --jost-font: Jost;
}

/*Кнопка меню*/

/*В разметке обязательно должна иметь внутренний span */

/*<button class="burger"><span></span></button>*/

.sidebar {
  flex: 0 0 14.0625rem;
  width: 14.0625rem;
  padding-top: 4.5rem;
}

.sidebar__nav {
  position: sticky;
  top: 14.75rem;
  padding-bottom: 3rem;
}

.sidebar__nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar__nav__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
  padding: 0px 0px 0px 0.9375rem;
}

.sidebar__nav__item a {
  transition: color 0.3s ease-in;
  font-size: 1.125rem;
  color: #3e3f3e;
}

.sidebar__nav__item a.active {
  color: #379b42;
  font-weight: 600;
}

.sidebar__nav__item:hover a {
  color: #58ca65;
}

:root {
  --main-green: #39ad46;
  --second-green: #27ae60;
  --hover-green: #58ca65;
  --dark-green: #1e7d5b;
  --dark-gray: #4f4f4f;
  --mid-gray: #828282;
  --light-gray: #f2f2f2;
  --extra-gray: #333;
  --golos-font: Golos;
  --jost-font: Jost;
}

.index-modal {
  top: 0;
  background-color: rgba(30, 41, 34, 0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 15;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.index-modal__close {
  position: absolute;
  padding: 7px;
  top: 0.9375rem;
  right: 0.9375rem;
}

.index-modal.active {
  visibility: visible;
  opacity: 1;
}

.index-modal__content {
  margin: 0 1rem;
  padding: 0;
  position: relative;
  flex-basis: 38.825rem;
  background-color: #fff;
  color: #000;
}

.index-modal__form {
  padding: 2.9375rem 6.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-modal__form.hide {
  display: none;
}

.index__form__title {
  text-align: center;
  color: #000;
  font-size: 1.5rem;
  line-height: 2.125rem;
  font-weight: 600;
  margin-bottom: 1.875rem;
  width: 100%;
}

.index__form__item {
  width: 100%;
  margin-bottom: 2.4375rem;
  position: relative;
}

.index__form__input {
  border: 1px solid #828282;
  height: 2.5rem;
  width: 100%;
  border-radius: 6px;
  padding: 0 1rem;
  box-shadow: 0px 0px 2px 0px #233025;
}

.index__form__input::placeholder {
  font-size: 1.125rem;
}

.index__form__input + span.error {
  font-size: 1rem;
  line-height: 0.9rem;
  color: #dd0d0d;
  position: absolute;
  top: 2.75rem;
  left: 0;
}

.index__form__input.error {
  border: 1px solid #dd0d0d;
}

.index__form__checkboxes {
  margin-top: 0.625rem;
  margin-bottom: 3.375rem;
  align-self: flex-start;
  width: 100%;
}

.checkbox__wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox__wrapper:not(:last-child) {
  margin-bottom: 0.625rem;
}

.checkbox__fake {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1rem;
  flex: 0 0 1rem;
  border: 1px solid #828282;
  border-radius: 4px;
  position: relative;
  margin-right: 0.5rem;
  transition: all 0.3s ease-in;
}

.checkbox__fake svg {
  width: 0.5rem;
}

.checkbox__text {
  color: #252525;
  font-size: 1rem;
  line-height: 1.125rem;
}

.checkbox__link {
  line-height: 1.125rem;
  color: var(--main-green);
  transition: color 0.3s ease-in;
}

.checkbox__link:hover {
  color: var(--hover-green);
}

.checkbox__input:checked + .checkbox__fake,
.checkbox__input:checked + .error + .checkbox__fake {
  border: 1px solid transparent;
  background-color: var(--main-green);
}

.checkbox__input.error + .checkbox__fake,
.checkbox__input.error + .error + .checkbox__fake {
  border: 1px solid #dd0d0d;
}

.checkbox__input.error + .error + .checkbox__fake + .checkbox__text {
  color: #dd0d0d;
}

.checkbox__input.error + .error + .checkbox__fake + .checkbox__text .checkbox__link {
  color: #dd0d0d;
}

.index__form__submit {
  padding: 0.625rem 1.5rem;
  color: white;
  font-size: 1.125rem;
  background-color: #379b42;
  border-radius: 6px;
  transition: background-color 0.2s ease-in;
}

.index__form__submit:hover {
  background-color: var(--hover-green);
}

.index-modal__success {
  padding: 5.1875rem 0.625rem 5.4375rem 0.625rem;
  text-align: center;
}

.index-modal__success.hide {
  display: none;
}

.success__title {
  font-size: 1.5rem;
  line-height: 2.125rem;
  font-weight: 600;
  margin-bottom: 0.625rem;
}

.success__subtitle {
  font-size: 1.125rem;
  line-height: 1.625rem;
}

:root {
  --main-green: #39ad46;
  --second-green: #27ae60;
  --hover-green: #58ca65;
  --dark-green: #1e7d5b;
  --dark-gray: #4f4f4f;
  --mid-gray: #828282;
  --light-gray: #f2f2f2;
  --extra-gray: #333;
  --golos-font: Golos;
  --jost-font: Jost;
}

.success-modal {
  top: 0;
  background-color: rgba(30, 41, 34, 0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 15;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.success-modal__close {
  position: absolute;
  padding: 7px;
  top: 0.9375rem;
  right: 0.9375rem;
}

.success-modal.active {
  visibility: visible;
  opacity: 1;
}

.success-modal__content {
  margin: 0 1rem;
  padding: 0;
  position: relative;
  flex-basis: 38.825rem;
  background-color: #fff;
  color: #000;
}

.success__message {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  padding: 6.25rem 0.625rem;
  text-align: center;
}

:root {
  --main-green: #39ad46;
  --second-green: #27ae60;
  --hover-green: #58ca65;
  --dark-green: #1e7d5b;
  --dark-gray: #4f4f4f;
  --mid-gray: #828282;
  --light-gray: #f2f2f2;
  --extra-gray: #333;
  --golos-font: Golos;
  --jost-font: Jost;
}

:root {
  --main-green: #39ad46;
  --second-green: #27ae60;
  --hover-green: #58ca65;
  --dark-green: #1e7d5b;
  --dark-gray: #4f4f4f;
  --mid-gray: #828282;
  --light-gray: #f2f2f2;
  --extra-gray: #333;
  --golos-font: Golos;
  --jost-font: Jost;
}

/*Кнопка меню*/

/*В разметке обязательно должна иметь внутренний span */

/*<button class="burger"><span></span></button>*/

.feedback {
  width: 100%;
  padding: 1.875rem 1.0625rem 1.875rem 1.875rem;
  background-color: #fff;
  border: 1px solid #39ad46;
  border-radius: 0.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback__title {
  font-size: 1.5rem;
  color: #252525;
  font-weight: 600;
}

.feedback__subtitle {
  font-size: 1.125rem;
  color: #252525;
}

.feedback__form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.feedback__form label.error {
  font-size: 0.875rem;
  position: absolute;
  top: -1.2rem;
  left: 3px;
  color: #dd0d0d;
}

.feedback__form__input {
  width: 20.4375rem;
  height: 2.5rem;
  padding: 0px 0.875rem;
  border: 1px solid #4f4f4f;
  border-radius: 6px;
}

.feedback__form__input.error {
  border: 1px solid #dd0d0d;
}

.feedback__form__button {
  height: 2.5rem;
  width: 8.75rem;
  color: white;
  font-size: 1.125rem;
  background-color: #379b42;
  margin-left: 5px;
  border-radius: 6px;
  transition: background-color 0.3s ease-in;
}

.feedback__form__button:hover {
  background-color: var(--hover-green);
}

.price-index-what__container {
  display: flex;
}

.green {
  color: var(--main-green);
}

.bold {
  font-weight: 500;
}

.content {
  flex: 1 1 auto;
  padding: 1.8125rem 1.875rem 5rem 1.8125rem;
  color: #252525;
}

.section {
  margin-bottom: 4.0625rem;
}

.section .title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
  color: #252525;
}

.section .desc {
  font-size: 1.25rem;
  line-height: 1.8125rem;
  color: #252525;
}

.section desc .bold {
  font-weight: 600;
}

.note {
  display: block;
  font-size: 1.25rem;
  color: #828282;
  margin-top: 0.9375rem;
}

.profit__list {
  margin-top: 2.0625rem;
  display: grid;
  grid-template-columns: repeat(4, 13.5rem);
  grid-gap: 2.375rem;
}

.profit__item {
  display: flex;
  flex-direction: column;
}

.profit__item__img {
  padding: 0px 1.875rem;
  margin-bottom: 1.125rem;
  height: 4.625rem;
}

.profit__item__img img {
  height: 100%;
  max-width: 5.3125rem;
}

.profit__item__title {
  max-width: 12.5rem;
  color: #252525;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 600;
  margin-bottom: 1.125rem;
}

.profit__item__desc {
  color: #252525;
  font-size: 1.125rem;
  line-height: 1.625rem;
}

.formation__list {
  margin-top: 2.0625rem;
  display: grid;
  grid-template-columns: repeat(4, 13.5rem);
  grid-gap: 2.375rem;
}

.formation__item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.formation__item__img {
  display: flex;
  align-items: flex-end;
  padding: 0px 1.875rem;
  margin-bottom: 1.125rem;
  height: 5.35rem;
}

.formation__item__img img {
  height: 100%;
  max-width: 5.3125rem;
}

.formation__item__title {
  max-width: 12.5rem;
  color: #252525;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 600;
  margin-bottom: 0.9375rem;
}

.formation__item__desc {
  color: #252525;
  font-size: 1.125rem;
  line-height: 1.625rem;
}

.formation__item__arrow {
  position: absolute;
  top: 2.8125rem;
  right: 0;
}

.formation__item__arrow img {
  height: 100%;
  max-width: 3.125rem;
}

.formation__item:nth-child(4) .formation__item__arrow {
  display: none;
}

.scheme {
  width: 40.3125rem;
  height: 40rem;
  margin: 6.875rem auto 0 auto;
  position: relative;
}

.scheme__img {
  height: 100%;
  width: auto;
}

.scheme__title {
  color: #252525;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.6rem;
  position: absolute;
  top: 30%;
  right: 30%;
}

.scheme__member {
  font-size: 1.25rem;
  line-height: 1.5625rem;
  position: absolute;
  border-bottom: 1px solid var(--main-green);
  color: #868181;
}

.scheme__member::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 2.8125rem;
  background-color: var(--main-green);
}

.member__desc {
  display: block;
}

.member__desc__5 {
  display: none;
}

.member_1 {
  top: 9.3125rem;
  left: -7rem;
}

.member_1::after {
  bottom: -2.4375rem;
  right: -1rem;
  transform: rotate(-45deg);
}

.member_2 {
  top: -4rem;
  right: 9.125rem;
  color: #000;
}

.member_2::after {
  bottom: -2.5rem;
  left: -1rem;
  transform: rotate(45deg);
}

.member_3 {
  top: 8.5rem;
  right: -8.625rem;
  color: #000;
}

.member_3::after {
  bottom: -2.4375rem;
  left: -1rem;
  transform: rotate(45deg);
}

.member_4 {
  top: 34.5rem;
  right: 0.625rem;
}

.member_4::after {
  bottom: -0.4375rem;
  left: -1rem;
  transform: rotate(-45deg);
}

.member_5 {
  top: 34.5rem;
  left: 0;
}

.member_5::after {
  bottom: -0.4375rem;
  right: -1rem;
  transform: rotate(45deg);
}

.members__button {
  cursor: pointer;
  display: block;
  margin: 2.5rem auto 0 auto;
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  font-family: Inter;
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 6px;
  background-color: var(--main-green);
  transition: background-color 0.3s ease-in;
}

.members__button:hover {
  background-color: var(--hover-green);
}

.faq__item {
  border-radius: 8px;
  background-color: #f2f2f2;
}

.faq__head {
  cursor: pointer;
  margin-top: 0.9375rem;
  padding: 0.75rem 1.875rem;
  position: relative;
}

.faq__head:before,
.faq__head:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 1.3125rem;
  right: 2.5rem;
  top: calc(50% - 0.6875rem);
  background-color: #74737c;
  transition: transform 0.3s ease-in, background-color 0.3s ease-in;
}

.faq__head::after {
  transform: rotate(90deg);
}

.faq__active::before {
  transform: rotate(-45deg);
  background-color: #30ad63;
}

.faq__active::after {
  transform: rotate(45deg);
  background-color: #30ad63;
}

.faq__title {
  color: #252525;
  font-size: 1.5rem;
  font-weight: 500;
  padding-right: 1.875rem;
}

.faq__content {
  display: none;
  color: #252525;
  font-size: 1.25rem;
  padding: 0 1.875rem 0.9375rem;
}

.faq__content__paragraph {
  margin-bottom: 0.8125rem;
  color: #252525;
  font-size: 1.25rem;
}

.faq__content__paragraph.coefficient {
  margin-bottom: 1.4375rem;
}

.faq__content__list {
  list-style-type: none;
  padding: 0;
}

.faq__content__item {
  padding-left: 1rem;
  position: relative;
  margin-bottom: 0.5rem;
}

.faq__content__item:before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 0.5625rem;
  left: 0;
  background-color: #30ad63;
  border-radius: 50%;
}

th,
td {
  border: 1px solid #f2f2f2;
  background-color: rgba(255, 255, 255, 0.9);
}

th {
  padding: 0.8125rem 2rem 0.8125rem 2rem;
  font-size: 0.875rem;
}

td {
  padding: 0.625rem 1.125rem 0.625rem 2rem;
  font-size: 12px;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .index-modal__form {
    padding: 2.9375rem 2rem;
  }

  .index__form__title {
    font-size: 1.25rem;
    line-height: 1.375rem;
    margin-bottom: 1.4375rem;
  }

  .checkbox__wrapper {
    align-items: flex-start;
  }

  .index-modal__success {
    padding: 2.9375rem 0.625rem 2.9375rem 0.625rem;
    text-align: center;
  }

  .success__title {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }

  .feedback {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.875rem 1.25rem;
  }

  .feedback__title {
    font-size: 1.125rem;
  }

  .feedback__subtitle {
    font-size: 0.875rem;
  }

  .feedback__form {
    margin-top: 1rem;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }

  .feedback__form__input {
    width: 100%;
    margin-bottom: 7px;
  }

  .price-index-what .wrapper {
    width: 100%;
  }

  .content {
    padding: 1.875rem 1.3125rem 3.4375rem 1.3125rem;
  }

  .section {
    margin-bottom: 3.125rem;
  }

  .section .title {
    font-size: 1.75rem;
    line-height: 2rem;
  }

  .profit__list {
    margin-top: 1.875rem;
    grid-gap: 0;
    display: flex;
    flex-direction: column;
    max-width: 23.4375rem;
  }

  .profit__item {
    flex-direction: row;
  }

  .profit__item:not(:last-child) {
    margin-bottom: 2.1875rem;
  }

  .profit__item__img {
    padding: 0 0.9375rem 0 0;
    height: 3.625rem;
  }

  .profit__item__img img {
    width: 3.4375rem;
  }

  .profit__item__title {
    margin-bottom: 0.6875rem;
  }

  .formation__item:nth-child(4) .formation__item__arrow {
    display: block;
  }

  .formation__list {
    margin-top: 1.875rem;
    grid-gap: 0;
    display: flex;
    flex-direction: column;
    max-width: 23.4375rem;
  }

  .formation__item {
    flex-direction: row;
  }

  .formation__item:not(:last-child) {
    margin-bottom: 1.25rem;
    padding-bottom: 4.375rem;
  }

  .formation__item__img {
    padding: 0 0.9375rem 0 0;
    height: 3.625rem;
  }

  .formation__item__img img {
    width: 3.4375rem;
  }

  .formation__item__title {
    margin-bottom: 0.6875rem;
  }

  .formation__item__arrow {
    top: 95%;
    right: 50%;
    transform: rotate(90deg) translateX(-50%);
  }

  .scheme {
    width: 100%;
    height: auto;
    margin-top: 3.375rem;
  }

  .scheme img {
    width: 100%;
    height: auto;
  }

  .scheme__title {
    font-size: 1rem;
    line-height: 1.1rem;
  }

  .scheme__member {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }

  .member__desc {
    display: none;
  }

  .member__desc__5 {
    display: block;
  }

  .member_1 {
    top: 40%;
    left: 24%;
    z-index: -1;
  }

  .member_1::after {
    height: 2.0625rem;
    bottom: -0.3rem;
    right: 5.7rem;
    transform: rotate(-45deg);
  }

  .member_2 {
    top: -2rem;
    right: 50%;
    transform: translateX(50%);
    z-index: -1;
  }

  .member_2::after {
    bottom: -2.5rem;
    left: 1rem;
    transform: rotate(-45deg);
  }

  .member_3 {
    top: 47%;
    right: 24%;
    z-index: -1;
  }

  .member_3::after {
    bottom: -0.2rem;
    left: 6.7rem;
    transform: rotate(29deg);
  }

  .member_4 {
    top: 62%;
    right: 26%;
    z-index: -1;
  }

  .member_4::after {
    bottom: -2.4375rem;
    left: 1rem;
  }

  .member_5 {
    top: 49%;
    left: 23%;
    z-index: -1;
  }

  .member_5::after {
    height: 5.3625rem;
    bottom: -5.4rem;
    right: 5rem;
    transform: rotate(-10deg);
  }

  .faq__head {
    padding: 0.8125rem 0.875rem;
  }

  .faq__head:before,
  .faq__head:after {
    right: 1.25rem;
  }

  .faq__title {
    font-size: 1.1875rem;
    line-height: 1.5rem;
  }

  .faq__content {
    padding: 0 0.8125rem 1.0625rem 0.8125rem;
  }

  .faq__content__item {
    margin-bottom: 0.875rem;
  }

  .faq__content__paragraph.coefficient {
    display: none;
  }

  table {
    padding-top: 0.625rem;
  }

  th {
    padding: 0.6875rem 0.625rem;
  }

  td {
    padding: 0.625rem;
  }
}

@media (max-width: 380px) {
  .scheme__title {
    top: 27%;
    right: 24%;
  }

  .member_5::after {
    height: 3.3625rem;
    bottom: -3.4rem;
    right: 5.2rem;
  }
}