<section class="analytics">
    <div class="wrapper">
        <h2 class="analytics__title">Аналитика</h2>
        <div class="analytics__info">
            <div class="graph">           
                <p class="graph__title">
                    Ценовой индекс на основные виды продукции целлюлозно-бумажной промышленности России
                </p>
                <div class="graph__input__wrapper">
                    <input type="date" value="08-08" class="graph__input" name="startDate"/>
                    <input type="date" value="08-08" class="graph__input" name="endDate"/>
                    <div class="customInput">
                        <p class="customInput__values"></p>
                        <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.4167 19.1666H2.58333C1.57081 19.1666 0.75 18.3458 0.75 17.3333V4.49992C0.75 3.4874 1.57081 2.66659 2.58333 2.66659H4.41667V0.833252H6.25V2.66659H11.75V0.833252H13.5833V2.66659H15.4167C16.4292 2.66659 17.25 3.4874 17.25 4.49992V17.3333C17.25 18.3458 16.4292 19.1666 15.4167 19.1666ZM2.58333 8.16659V17.3333H15.4167V8.16659H2.58333ZM2.58333 4.49992V6.33325H15.4167V4.49992H2.58333ZM13.5833 15.4999H11.75V13.6666H13.5833V15.4999ZM9.91667 15.4999H8.08333V13.6666H9.91667V15.4999ZM6.25 15.4999H4.41667V13.6666H6.25V15.4999ZM13.5833 11.8333H11.75V9.99992H13.5833V11.8333ZM9.91667 11.8333H8.08333V9.99992H9.91667V11.8333ZM6.25 11.8333H4.41667V9.99992H6.25V11.8333Z" fill="#27AE60"/>
                            </svg>
                                                   
                    </div>
                    <div id="date_range"></div>
                </div>
                <div class="graph__canvas__wrapper">
                    <canvas id="Graph" class="graph__canvas"></canvas>
                </div>
            </div>
            <div class="materials">
                <img src="img/materials__picture.png" alt="" class="materials__picture" />
                <img src="img/materials__picture_mobile.png" alt="" class="materials__picture_mobile" />
                <div class="materials__info">
                    <h3 class="materials__title">
                        Материалы аналитического партнёра
                    </h3>
                    <div class="company">
                        <img src="img/icons/company.svg" alt="company svg" />
                        <h3 class="company__title">ЦЕНТР СИСТЕМНЫХ РЕШЕНИЙ</h3>                    
                    </div>
                </div>
            </div>

            <div class="notes">
                <div class="checkbox">
                    <!-- <input type="checkbox" class="checkbox__input color_green" /> -->
                    
                    <input type="checkbox" class="customCheckbox" id="input_1" checked/>
                    <label for="input_1">Бумага для гофрирования (флютинг) целлюлозная,   Б-1, 110-112 г/м2, т
                    </label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" class="customCheckbox" id="input_2" checked/>
                    <label for="input_2">Бумага для гофрирования (флютинг) макулатурная, Б-1, 110-112 г/м2, т</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" class="customCheckbox" id="input_3" checked/>
                    <label for="input_3">Целлюлозный картон (крафтлайнер), К-1, 140-150 г/ м2, т
                    </label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" class="customCheckbox" id="input_4" checked/>
                    <label for="input_4">Макулатурный картон (тестлайнер), К-1, 140-150 г/м2, т</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" class="customCheckbox" id="input_5" checked/>
                    <label for="input_5">Белёный картон для плоских слоёв (крафтлайнер, топ-лайнер), К-1, 140-150 г/м2, т</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" class="customCheckbox" id="input_6" checked/>
                    <label for="input_6">Целлюлозный картон (крафтлайнер), К-1, 140-150 г/м2, т</label>
                </div>
            </div>
        </div>

       

    </div>
</section>