<section class="analytics">
    <div class="wrapper">
        <h2 class="analytics__title">Аналитика</h2>
        <div class="analytics__info">
            <div class="graph">
                <p class="praph__title">
                    Ценовой индекс на основные виды продукции целлюлозно-бумажной промышленности России
                </p>
            </div>
            <div class="materials">
                <img src="img/materials__picture.png" alt="" class="materials__picture" />
                <div class="materials__info">
                    <h3 class="materials__title">
                        Материалы аналитического партнёра
                    </h3>
                    <div class="company">
                        <img src="img/icons/company.svg" alt="company svg" />
                        <h3 class="company__title">ЦЕНТР СИСТЕМНЫХ РЕШЕНИЙ</h3>                    
                    </div>
                </div>
            </div>
        </div>

        <div class="notes">
            <div class="checkbox">
                <!-- <input type="checkbox" class="checkbox__input color_green" /> -->
                
                <input type="checkbox" class="customCheckbox" name="firstCheck" checked/>
                <label for="firstCheck" class="checkbox__label">
                    Бумага для гофрирования (флютинг) целлюлозная,   Б-1, 110-112 г/м2, т
                </label>
            </div>
            <div class="checkbox">
                <input type="checkbox" class="checkbox__input color_violet"/>
                <label class="checkbox__text">Бумага для гофрирования (флютинг) макулатурная, Б-1, 110-112 г/м2, т</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" class="checkbox__input color_pink"/>
                <label class="checkbox__text">Целлюлозный картон (крафтлайнер), К-1, 140-150 г/ м2, т
                </label>
            </div>
            <div class="checkbox">
                <input type="checkbox" class="checkbox__input color_blue"/>
                <label class="checkbox__text">Макулатурный картон (тестлайнер), К-1, 140-150 г/м2, т</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" class="checkbox__input color_yellow"/>
                <label class="checkbox__text">Белёный картон для плоских слоёв (крафтлайнер, топ-лайнер), К-1, 140-150 г/м2, т</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" class="checkbox__input color_pink"/>
                <label class="checkbox__text">Целлюлозный картон (крафтлайнер), К-1, 140-150 г/м2, т</label>
            </div>
        </div>

    </div>
</section>