<section class="analytics">
    <div class="wrapper">
        <h2 class="analytics__title">Аналитика</h2>
        <div class="analytics__info">
            <div class="graph">
                <p class="praph__title">
                    Ценовой индекс на основные виды продукции целлюлозно-бумажной промышленности России
                </p>
            </div>
            <div class="materials">
                <img src="img/materials__picture.png" alt="" class="materials__picture" />
                <div class="materials__info">
                    <h3 class="materials__title">
                        Материалы аналитического партнёра
                    </h3>
                </div>
                
            </div>
            <div class="analytics__solutions"></div>
        </div>
    </div>
</section>