<section class="analytics">
    <div class="wrapper">
        <h2 class="analytics__title">Аналитика</h2>
        <div class="analytics__info">
            <div class="graph">           
                <p class="graph__title">
                    Ценовой индекс на основные виды продукции целлюлозно-бумажной промышленности России
                </p>
                <div class="graph__input__wrapper">
                    <input type="date" value="08-08" class="graph__input"/>
                </div>
                <div class="graph__canvas__wrapper">
                    <canvas id="Graph" class="graph__canvas"></canvas>
                </div>
            </div>
            <div class="materials">
                <img src="img/materials__picture.png" alt="" class="materials__picture" />
                <img src="img/materials__picture_mobile.png" alt="" class="materials__picture_mobile" />
                <div class="materials__info">
                    <h3 class="materials__title">
                        Материалы аналитического партнёра
                    </h3>
                    <div class="company">
                        <img src="img/icons/company.svg" alt="company svg" />
                        <h3 class="company__title">ЦЕНТР СИСТЕМНЫХ РЕШЕНИЙ</h3>                    
                    </div>
                </div>
            </div>

            <div class="notes">
                <div class="checkbox">
                    <!-- <input type="checkbox" class="checkbox__input color_green" /> -->
                    
                    <input type="checkbox" class="customCheckbox" id="input_1" checked/>
                    <label for="input_1">Бумага для гофрирования (флютинг) целлюлозная,   Б-1, 110-112 г/м2, т
                    </label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" class="customCheckbox" id="input_2" checked/>
                    <label for="input_2">Бумага для гофрирования (флютинг) макулатурная, Б-1, 110-112 г/м2, т</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" class="customCheckbox" id="input_3" checked/>
                    <label for="input_3">Целлюлозный картон (крафтлайнер), К-1, 140-150 г/ м2, т
                    </label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" class="customCheckbox" id="input_4" checked/>
                    <label for="input_4">Макулатурный картон (тестлайнер), К-1, 140-150 г/м2, т</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" class="customCheckbox" id="input_5" checked/>
                    <label for="input_5">Белёный картон для плоских слоёв (крафтлайнер, топ-лайнер), К-1, 140-150 г/м2, т</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" class="customCheckbox" id="input_6" checked/>
                    <label for="input_6">Целлюлозный картон (крафтлайнер), К-1, 140-150 г/м2, т</label>
                </div>
            </div>
        </div>

       

    </div>
</section>