<section class="directory">
    <div class="wrapper">
        <h2 class="directory__title">Справочник</h2>

        <div class="accordion__wrapper">
            <div class="accordion">
                <div class="accordion__main">
                    <p class="accordion__title">Сбор макулатуры</p>
                    <svg class="accordion__icon" width="16" height="16" viewBox="0 0 16 16" fill="#000" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M15 7H9V1C9 0.447 8.552 0 8 0C7.448 0 7 0.447 7 1V7H1C0.448 7 0 7.447 0 8C0 8.553 0.448 9 1 9H7V15C7 15.553 7.448 16 8 16C8.552 16 9 15.553 9 15V9H15C15.552 9 16 8.553 16 8C16 7.447 15.552 7 15 7Z" fill="#BDBDBD"/>
                    </svg>
                </div>
                <p class="accordion__information">
                    Для того чтобы сдать макулатуру в городе некоторыми предприятиями организованы базы, куда любой желающий может сдать вид вторсырья.
                </p>
                <a class="accordion__button" href="/">Читать</a>
            </div>
        </div>
         
        <div class="accordion__wrapper">
            <div class="accordion">
                <div class="accordion__main">
                    <p class="accordion__title">Мифы о бумаге</p>
                    <svg class="accordion__icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M15 7H9V1C9 0.447 8.552 0 8 0C7.448 0 7 0.447 7 1V7H1C0.448 7 0 7.447 0 8C0 8.553 0.448 9 1 9H7V15C7 15.553 7.448 16 8 16C8.552 16 9 15.553 9 15V9H15C15.552 9 16 8.553 16 8C16 7.447 15.552 7 15 7Z" fill="#BDBDBD"/>
                    </svg>
                </div>
                <p class="accordion__information">
                    Для того чтобы сдать макулатуру в городе некоторыми предприятиями организованы базы, куда любой желающий может сдать вид вторсырья.
                </p>
                <a class="accordion__button" href="/">Читать</a>
            </div>
        </div>

        <div class="accordion__wrapper">
            <div class="accordion">
                <div class="accordion__main">
                    <p class="accordion__title">Отраслевое образование</p>
                    <svg class="accordion__icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M15 7H9V1C9 0.447 8.552 0 8 0C7.448 0 7 0.447 7 1V7H1C0.448 7 0 7.447 0 8C0 8.553 0.448 9 1 9H7V15C7 15.553 7.448 16 8 16C8.552 16 9 15.553 9 15V9H15C15.552 9 16 8.553 16 8C16 7.447 15.552 7 15 7Z" fill="#BDBDBD"/>
                    </svg>
                </div>
                <p class="accordion__information">
                    Для того чтобы сдать макулатуру в городе некоторыми предприятиями организованы базы, куда любой желающий может сдать вид вторсырья.
                </p>
                <a class="accordion__button" href="/">Читать</a>
            </div>
        </div>

        <div class="accordion__wrapper">
            <div class="accordion">
                <div class="accordion__main">
                    <p class="accordion__title">Глоссарий</p>
                    <svg class="accordion__icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M15 7H9V1C9 0.447 8.552 0 8 0C7.448 0 7 0.447 7 1V7H1C0.448 7 0 7.447 0 8C0 8.553 0.448 9 1 9H7V15C7 15.553 7.448 16 8 16C8.552 16 9 15.553 9 15V9H15C15.552 9 16 8.553 16 8C16 7.447 15.552 7 15 7Z" fill="#BDBDBD"/>
                    </svg>
                </div>
                <p class="accordion__information">
                    Для того чтобы сдать макулатуру в городе некоторыми предприятиями организованы базы, куда любой желающий может сдать вид вторсырья.
                </p>
                <a class="accordion__button" href="/">Читать</a>
            </div>
        </div>
    </div>

    <button class="directory__button">
        <span>ЧИТАТЬ БОЛЬШЕ</span> 
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M22.7071 12.7071C23.0976 12.3166 23.0976 11.6834 22.7071 11.2929L16.3431 4.92893C15.9526 4.53841 15.3195 4.53841 14.9289 4.92893C14.5384 5.31946 14.5384 5.95262 14.9289 6.34315L20.5858 12L14.9289 17.6569C14.5384 18.0474 14.5384 18.6805 14.9289 19.0711C15.3195 19.4616 15.9526 19.4616 16.3431 19.0711L22.7071 12.7071ZM2 13H22V11H2V13Z" fill="#F2F2F2"/>
        </svg> 
    </button>

</section>