<section class="header">
    <div class="wrapper">
        <div class="header__container">
            <div class="header__search">
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="7.45614" cy="7.45614" r="6.45614" stroke="#828282" stroke-width="2"/>
                </svg>  
            </div>
            <div class="header__logo">
                                   
            </div>
            <div class="header__language"></div>
        </div>
    </div>
</section>