<section class="header">
    <div class="wrapper">
        <div class="header__container">
            <div class="header__search">
                <img src="/img/search.svg" alt="search"/>
            </div>
            <div class="header__logo">
                <img src="/img/logo.svg" alt="logo" />
            </div>
            < class="header__language">
                <a href="/">RU</a>
                <span>/</span>
                <a href="/">EN</a>
            </div>
        </div>
    </div>
</section>