<section class="header">
    <div class="wrapper">
        <div class="header__container">
            <button class="header__search">
                <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="42" height="42" rx="21" fill="#F2F2F2"/>
                    <circle cx="19.4561" cy="19.4561" r="6.45614" stroke="#828282" stroke-width="2"/>
                    <path d="M24.5264 24.5269L29.0001 29.0005" stroke="#828282" stroke-width="2"/>
                </svg>
            </button>
            <button class="header__menu_mobile">
                <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.599609 1H17.3996" stroke="#1E8460" stroke-width="1.24365"/>
                    <path d="M0.599609 7H17.3996" stroke="#1E8460" stroke-width="1.24365"/>
                    <path d="M0.599609 13H17.3996" stroke="#1E8460" stroke-width="1.24365"/>
                </svg>
            </button>
            <div class="header__logo">
                <img src="/img/logo.svg" alt="logo" />
            </div>
            <div class="header__logo_mobile">
                <img src="/img/logo.svg" alt="logo" />
            </div>
            <div class="header__language">
                <button class="header__button active">RU</button>
                <span>/</span>
                <button class="header__button">ENG</button>
            </div>
        </div>
        <nav class="navbar">
                <a href="/" class="navbar__item">Ассоциация</a>
                <a href="/" class="navbar__item">Новости</a>
                <a href="/" class="navbar__item">Аналитика</a>
                <a href="/" class="navbar__item">Позиции</a>
                <a href="/" class="navbar__item">Справочник</a>
                <a href="/" class="navbar__item">Мероприятия</a>
                <a href="/" class="navbar__item">Контакты</a>
        </nav>
    </div>
</section>