<section class="header">
    <div class="wrapper">
        <div class="header__container">
            <button class="header__search">
                <img src="/img/search.svg" alt="search"/>
            </button>
            <div class="header__logo">
                <img src="/img/logo.svg" alt="logo" />
            </div>
            <div class="header__language">
                <button class="header__button active">
                    <p>RU</p>
                </button>
                <span>/</span>
                <button class="header__button">
                    <p>EN</p>
                </button>
            </div>
        </div>
        <nav class="navbar">
            <div class="navbar__item">
                <a href="/">Ассоциация</a>
            </div>
            <div class="navbar__item">
                <a href="/">Новости</a>
            </div>
            <div class="navbar__item">
                <a href="/">Аналитика</a>
            </div>
            <div class="navbar__item">
                <a href="/">Позиции</a>
            </div>
            <div class="navbar__item">
                <a href="/">Справочник</a>
            </div>
            <div class="navbar__item">
                <a href="/">Мероприятия</a>
            </div>
            <div class="navbar__item">
                <a href="/">Контакты</a>
            </div>
        </nav>
    </div>
</section>